<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" prefix="og: http://ogp.me/ns#">

  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no, minimal-ui">
    <title data-id="default_page_title">Tz Libre | a fork of DLS KYC Tezos</title>
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    <link rel="manifest" href="/site.webmanifest">
    <meta name="msapplication-TileColor" content="#1F260B">
    <meta name="theme-color" content="#1F260B">
    <link href="/style/style.css" rel="stylesheet">
    <meta itemprop="image" content="https://tzlibre.github.io/tzl-shareimage.png">
    <meta property="og:image" content="https://tzlibre.github.io/tzl-shareimage.png">
    <meta property="og:title" data-id="default_page_title" content="Tz Libre | a fork of DLS KYC Tezos">
  </head>

  <body>

    <div class="topbar">
      <div class="content">

        <div id="infobar" class="infobar">
          <div>
            <a href="https://forkdelta.app/#!/trade/0x6b91bc206eed0a8474f071339d1fd7ed7156f856-ETH" target="_blank">
              <span class="infobar-block">
            <span class="infobar-lbl">1 TZL =</span>
              <span class="infobar-value">{{price_usd}}</span> <span>USD</span> <span v-bind:class="price_variation_class">{{price_variation_value}}</span></span>

              <span class="infobar-block hideOnMobile">
            <span class="infobar-lbl" data-id="marketcap">market cap</span>
              <span class="infobar-value" id="marketCapValue">N/A</span>
              </span>
            </a>
          </div>
          <div>
            <a href="http://tzscan.io/tz1iDu3tHhf7H4jyXk6rGV4FNUsMqQmRkwLp#" target="_blank">
              <span class="infobar-block">
            <span class="infobar-lbl">Delegations</span>
              <span class="infobar-value">{{delegations}}</span> <span>XTZ</span>
              </span>
            </a>
          </div>
          <!-- <div>
           <a href="">
           <span class="infobar-block">
           <span class="infobar-lbl">Deposits</span>
           <span class="infobar-value">{{deposits}}</span> <span>XTZ</span>
           </span>
           <span class="infobar-block hideOnMobile">
           <span class="infobar-lbl">Collateral.</span>
           <span class="infobar-value">{{collateralization}}</span>
           </span>
           </a>
           </div> -->
        </div>

        <ul class="langswitch">
          <li>
            <button data-lang="en">en</button>
          </li>
          <li>
            <button data-lang="ru">&#x440;&#x443;</button>
          </li>
          <li>
            <button data-lang="cn">&#x4E2D;&#x6587;</button>
          </li>
        </ul>

      </div>
    </div>


    <header class="header-mini">
      <div class="content">
        <div class="header-main">
          <div class="wordmark">
            <a href="index.html">
              <img src="/images/tzllogo-wordmark.svg" alt="tzlibre wordmark">
            </a>
          </div>
        </div>
        <a href="index.html" class="logo">
          <img src="/images/tzllogo-base.svg" alt="tzlibre logo">
        </a>
      </div>
    </header>

    <nav class="nav-primary">
      <input id="collapsible" class="toggle" type="checkbox">
      <label for="collapsible">MENU</label>
      <div class="content">
        <ul class="nav-primary-main">
          <!--li class="{{ nav3_class }}"><a href="whitelist.html" data-id="wl_title"></a></li>
      <li class="selected"><a href="claim.html" data-id="split_title"></a></li-->
          <li class="{{ nav5_class }}">
            <a href="delegate.html" data-id="dlgt_title">Get TZL</a>
          </li>
          <li class="{{ nav6_class }}">
            <a href="verify.html" data-id="verify_title">Verify</a>
          </li>
          <li class="{{ nav7_class }}">
            <a href="sign.html" data-id="sign_title">Sign/Dispute</a>
          </li>
        </ul>
        <ul class="nav-primary-side">
          <li class="{{ nav1_class }}">
            <a href="project.html" data-id="home_title">Project</a>
          </li>
          <li class="{{ nav2_class }}">
            <a href="faq.html" data-id="faq_title">FAQ</a>
          </li>
        </ul>
      </div>
    </nav>


    <div class="main">

      <div class="content">

        <div class="block">

          <h3 data-id="split_page_title">Claim your TZL tokens</h3>

          <div class="row">
            <h4 data-id="split_sub1_title">Who</h4>
            <div class="row-main" data-id="split_sub1_txt">
              <p>Contributors who already
                <a href="whitelist.html">whitelisted their Tezos address</a> can claim TZL by linking it with an Ethereum address under their own control.</p>
            </div>
          </div>

          <div class="row">
            <h4 data-id="split_sub2_title">When</h4>
            <div class="row-main" data-id="split_sub2_txt">
              <p>Our community is still discussing when to stop accepting claims. We&apos;ll announce it on our
                <a href="https://t.me/tzlibre" target="_blank">Telegram channel</a>.</p>
            </div>
          </div>

          <div class="row">
            <h4 data-id="split_sub3_title">Need help?</h4>
            <div class="row-main" data-id="split_sub3_txt">
              <p>Only the first two fields are mandatory. You should use the latest version of the Firefox browser, preferably in private mode. If you still can&apos;t claim TZL you can
                <a href="https://t.me/tz_libre" target="_blank">contact us</a>.</p>
            </div>
          </div>

          <form action="Javascript:claim()" class="" id="claim-form">

            <label for="claim-pkh" data-id="wl_intro">Tezos address (a/k/a public key hash)</label>
            <input type="text" placeholder="tz1..." id="claim-pkh" required>
            <label for="claim-eth-addr" data-id="eth_address">Current Ethereum address</label>
            <input type="text" placeholder="0x..." id="claim-eth-addr" required>
            <label data-id="split_declaration_title">Declaration of support</label>
            <pre data-id="split_declaration">As a contributor to Tezos Stiftung (CHE-290.597.458) I recognize, welcome and support the existence of multiple implementations of the Tezos idea.

I expect Tezos Stiftung to act in the best interest of contributors by fostering competition among these implementations, and to do so by directly funding research and development of interoperability solutions that enable the seamless transfer of value and data among various Tezos blockchains.

I request that any third-party product developed with Tezos Stiftung funding shall always be compatible with each and every major Tezos blockchain.</pre>

            <input type="checkbox" id="claim-accept-declaration" checked>
            <label for="claim-accept-declaration" data-id="split_declaration_accept">I agree with the Declaration of support (optional)</label>

            <div class="formaction">
              <input type="submit" id="claim-submit" data-id="split_button" v-bind:class="{ loading: loading }" :disabled="loading" value="Claim">
            </div>

          </form>

          <div id="results">
            <div id="claim-success" v-if="success" v-cloak="">
              <div class="formresult">
                <p class="timestamp">{{ timestamp }}</p>
                <p data-id="split_result_success">Your claim has been submitted. The Tezos address</p>
                <div class="block-row">
                  <div class="block">
                    <p><strong>{{ tzl_pkh }}</strong>
                      <br><span data-id="split_result_nowlinked">is linked with the Ethereum address</span>
                      <br><strong>{{ eth_addr }}</strong></p>
                  </div>
                </div>
              </div>
            </div>
          </div>


          <!-- next steps -->
          <div class="nextstepbox" id="next-steps" v-if="show" v-cloak="">
            <h3 data-id="nextstep_title">Next steps</h3>
            <div class="nextstepslist">

              <div v-if="!opt2">
                <p data-id="nextstep_getairdrops">Learn how to get your airdrops</p>
                <p v-if="opt1">
                  <a href="https://t.me/joinchat/G9-DflMeFgwZSwDI5V-Vew" target="_blank" class="btn">
                    <svg class="icon">
                      <use href="/images/svgdefs.svg#icon-social-telegram-group" />
                    </svg><span data-id="nextstep_group">TzLibre Airdrops</span></a>
                </p>
                <p v-if="opt3">
                  <a href="https://t.me/joinchat/G9-DflDz6IzH2_Yy6f9NHg" target="_blank" class="btn">
                    <svg class="icon">
                      <use href="/images/svgdefs.svg#icon-social-telegram-group" />
                    </svg><span data-id="nextstep_group">TzLibre Airdrops</span></a>
                </p>
              </div>

              <div>
                <p data-id="nextstep_signclaim">Delegate TzLibre</p>
                <a v-bind:href="delegate_url" class="btn"><span data-id="nextstep_claim_ok">Delegate</span></a>
              </div>

            </div>

          </div>

        </div>

      </div>

    </div>

    <div class="actionbar">

      <div class="content">

        <div class="actionbar-main">

          <span data-id="cta_button_actionbar"><a href="https://t.me/tzlibre" target="_blank" class="btn btn-primary"><svg class="icon"><use href="/images/svgdefs.svg#icon-social-telegram-channel"/></svg><span>Telegram channel</span></a>
          </span>

          <span><a href="https://www.reddit.com/r/tzlibre" target="_blank" class="btn btn-primary"><svg class="icon"><use href="/images/svgdefs.svg#icon-social-reddit-small"/></svg><span data-id="follow_reddit">Reddit sub</span></a>
          </span>

        </div>

        <div class="actionbar-contacts">

          <a href="https://t.me/tz_libre" target="_blank" class="iconbtn">
            <svg class="icon">
              <use href="/images/svgdefs.svg#icon-social-telegram-small" />
            </svg>
          </a>
          <a href="https://twitter.com/tzlibre" target="_blank" class="iconbtn">
            <svg class="icon">
              <use href="/images/svgdefs.svg#icon-social-twitter-small" />
            </svg>
          </a>
          <a href="mailto:tzlibr%65@pro%74on%6Dail.c%6Fm" class="iconbtn">
            <svg class="icon">
              <use href="/images/svgdefs.svg#icon-social-email-small" />
            </svg>
          </a>
          <a href="/publickey.tzlibre@protonmail.com.asc">pgp key</a>

        </div>

      </div>

    </div>

    <!-- Templates for modals-->
    <div class="cloak" id="modal-cloak">

      <div class="modal" id="modal-step-not-allowed">
        <h4><span data-id="modal-step-not-allowed_title">Sorry, you can&apos;t do this now</span>
          <svg class="alert-icon">
            <use href="/images/svgdefs.svg#icon-alert" />
          </svg>
        </h4>
        <p data-id="modal_stepnotallowed_text">You are not allowed to do this now: go to Verify page to find out what to do next</p>
        <div class="modal-actions" id="modal-actions-step-not-allowed">
          <a class="btn btn-primary" v-bind:href="verify_url" data-id="btn_verifyit">Verify</a>
        </div>
      </div>

      <div class="modal modal-warning" id="modal-error-tzl-addr">
        <h4><span data-id="modal_error_title">Error</span>
          <svg class="alert-icon">
            <use href="/images/svgdefs.svg#icon-alert" />
          </svg>
        </h4>
        <p data-id="modal_tzladdress_text">Wrong Tezos address (public key hash)</p>
        <div class="modal-actions">
          <a class="btn modal-action-cancel" data-id="btn_close">Close</a>
        </div>
      </div>

      <div class="modal modal-warning" id="modal-error-eth-addr">
        <h4><span data-id="modal_error_title">Error</span>
          <svg class="alert-icon">
            <use href="/images/svgdefs.svg#icon-alert" />
          </svg>
        </h4>
        <p data-id="modal_ethaddress_text">Wrong Ethereum address</p>
        <div class="modal-actions">
          <a class="btn modal-action-cancel" data-id="btn_close">Close</a>
        </div>
      </div>

      <div class="modal modal-warning" id="modal-error-generic">
        <h4><span data-id="modal_genericerror_title">Something went wrong</span>
          <svg class="alert-icon">
            <use href="/images/svgdefs.svg#icon-alert" />
          </svg>
        </h4>
        <p data-id="modal_genericerror_text">Try again or
          <a href="https://t.me/tz_libre" target="_blank">contact us</a>.</p>
        <div class="modal-actions">
          <a class="btn modal-action-cancel" data-id="btn_close">Close</a>
        </div>
      </div>


    </div>

    <script src="/js/vue.min.js"></script>
    <script src="/js/moment-with-locales.js"></script>
    <script src="/js/modals.js"></script>
    <script src="/js/utils.js"></script>
    <script src="/js/scripts.js"></script>
    <script src="/js/scripts-infobar.js"></script>
    <script src="/js/scripts-claim.js"></script>




  </body>

</html>