<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" prefix="og: http://ogp.me/ns#">

  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no, minimal-ui">
    <title data-id="default_page_title">Tz Libre | a fork of DLS KYC Tezos</title>
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    <link rel="manifest" href="/site.webmanifest">
    <link rel="mask-icon" href="/safari-pinned-tab.svg" color="#1F260B">
    <meta name="msapplication-TileColor" content="#1F260B">
    <meta name="theme-color" content="#1F260B">
    <link href="/style/style.css" rel="stylesheet">
    <meta itemprop="image" content="https://tzlibre.github.io/tzl-shareimage.png">
    <meta property="og:image" content="https://tzlibre.github.io/tzl-shareimage.png">
    <meta property="og:image:width" content="1200">
    <meta property="og:image:height" content="628">
    <meta property="og:title" content="Tz Libre | a fork of DLS KYC Tezos">
    <meta property="og:description" content="TzLibre is a fork of KYC-Tezos: a permissionless, KYC-free, hard-capped implementation of Tezos">
    <meta property="og:url" content="https://tzlibre.github.io">
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:site" content="@tzlibre">
    <meta name="twitter:title" content="Tz Libre | a fork of DLS KYC Tezos">
    <meta name="twitter:description" content="TzLibre is a fork of KYC-Tezos: a permissionless, KYC-free, hard-capped implementation of Tezos">
    <meta name="twitter:image" content="https://tzlibre.github.io/tzl-shareimage.png">
  </head>

  <body>

    <header>
      <div class="content">
        <div class="header-main">
          <div class="wordmark">
            <a href="index.html">
              <img src="/images/tzllogo-wordmark.svg" alt="tzlibre wordmark">
            </a>
          </div>
          <div id="infobar" class="priceticker hideOnMobile">
            <a href="https://forkdelta.app/#!/trade/0x6b91bc206eed0a8474f071339d1fd7ed7156f856-ETH" target="_blank">
              <span class="infobar-lbl">1 TZL =</span>
              <span class="infobar-value">{{price_usd}} USD <span v-bind:class="price_variation_class">{{price_variation_value}}</span></span>
            </a>
          </div>
        </div>

        <a href="index.html" class="logo">
          <img src="/images/tzllogo-base.svg" alt="tzlibre logo">
        </a>
        <nav class="nav-primary">
          <input id="collapsible" class="toggle" type="checkbox">
          <label for="collapsible">
            <svg class="icon">
              <use href="/images/svgdefs.svg#icon-arrow-dropdown" />
            </svg>
          </label>
          <div>
            <ul>
              <li class="selected">
                <a class="hidden"><strong>MENU</strong></a>
              </li>
              <li class="{{ nav3_class }}">
                <a href="delegate.html" data-id="dlgt_nav">Delegate</a>
              </li>
              <li class="{{ nav5_class }}">
                <a href="deposit.html" data-id="smartdlgt_nav">Deposit</a>
              </li>
              <li class="{{ nav6_class }}">
                <a href="verify.html" data-id="verify_title">Verify</a>
              </li>
            </ul>
            <ul>
              <li class="{{ nav9_class }}">
                <a href="https://librebox.github.io" target="_blank" data-id="wallet_title">Wallet</a>
              </li>
              <li class="{{ nav1_class }}">
                <a href="project.html" data-id="home_title">Project</a>
              </li>
              <li class="{{ nav2_class }}">
                <a href="faq.html" data-id="faq_title">FAQ</a>
              </li>
            </ul>
          </div>
        </nav>

      </div>
    </header>

    <div class="main">

      <div class="content">

        <div class="block">

          <h2 data-id="sign_page_title">Confirm your Ethereum address</h2>

          <form action="Javascript:sign()" class="" id="sign-form">

            <label for="sign-pkh" data-id="wl_intro">Tezos address (a/k/a public key hash)</label>
            <input type="text" placeholder="tz1..." id="sign-pkh" required>
            <label for="sign-eth-addr" data-id="eth_address">Current Ethereum address</label>
            <input type="text" placeholder="0x..." id="sign-eth-addr" required>
            <label for="sign-pk" data-id="tezos_publickey">Tezos public key</label>
            <input type="text" id="sign-pk" required>
            <label for="sign-eth-addr-signature" data-id="eth_signature">Cryptographic signature</label>
            <input type="text" id="sign-eth-addr-signature" required>

            <div class="formaction">
              <input type="submit" id="sign-submit" data-id="sign_button" v-bind:class="{ loading: loading }" :disabled="loading" value="Sign">
            </div>

          </form>

          <div id="results">
            <div id="sign-success" v-if="success" v-cloak="">
              <div class="formresult">
                <p class="timestamp">{{ timestamp }}</p>
                <p data-id="sign_result_success">Your signature has been verified and saved: it is valid and can&apos;t be changed or updated. You provided a valid proof of ownership and the Tezos address (a/k/a Tezos public key hash) <strong>{{ tzl_pkh }}</strong> is now indisputably
                  and permanently linked to the Ethereum address <strong>{{ eth_addr }}</strong>.</p>
              </div>
            </div>
          </div>


          <!-- next steps -->
          <div class="nextstepbox" id="next-steps" v-if="show &amp;&amp; signed &amp;&amp; !opt2" v-cloak="">
            <h2 data-id="nextstep_title">Next steps</h2>
            <div>
              <div class="nextstepslist">

                <div>
                  <p data-id="sign_nextstep">Track TZL airdrops and meet other TZL traders</p>
                  <a v-bind:href="verify_url" class="btn"><span data-id="verify_page_title">Verify your Tezos address</span></a>
                </div>

              </div>
            </div>
          </div>

        </div>

      </div>

    </div>

    <div class="main-light">

      <div class="content">

        <div class="block block-tight">

          <div data-id="sign_intro">You can confirm your Ethereum address. To do so you must prove ownership of your Tezos address by signing your current Ethereum address with your Tezos private key. You won&apos;t be able to change your Ethereum address afterwards. We suggest
            to use a brand new Ethereum address. Your signature will be public. You can produce your signature with <strong><a href="https://github.com/tzlibre/signature-webtool/releases/download/v1.3/tzlibre-signature-webtool.html" download="tzlibre-signature-webtool.html"><span>our web tool</span></a></strong>:
            download, open and follow the instructions. Alternatively, if your KYC-Tezos wallet allows you to sign messages, you can do so by signing your Ethereum address string. Finally if you&apos;re a developer you can produce your own Ed25519 signature
            or clone one of our repos:</div>

          <div class="buttonsline">
            <a href="https://github.com/tzlibre/fundraiser-tools" target="_blank" class="btn">
              <svg class="icon">
                <use href="/images/svgdefs.svg#icon-social-github-small" />
              </svg>
              <span data-id="sign_cltool">Command-line tool</span>
            </a>
            <a href="https://github.com/tzlibre/signature-webtool" target="_blank" class="btn">
              <svg class="icon">
                <use href="/images/svgdefs.svg#icon-social-github-small" />
              </svg>
              <span data-id="sign_webtool">Web tool</span>
            </a>
          </div>

          <p data-id="sign_help">Need help?
            <a href="https://t.me/tz_libre" target="_blank"><span>Contact us</span></a>
          </p>

        </div>

      </div>

    </div>

    <footer>

      <div class="content">

        <div class="footer-main">
          <h2 data-id="contact_us">Contact us</h2>
          <p data-id="contact_intro">We&apos;ll never ask for your personal data. Please report any phishing attempt, we are aware of fake TzLibre accounts on social media. We strongly suggest you to bookmark all of our official addresses.</p>
        </div>

        <div class="footer-contacts">
          <p>
            <a href="https://t.me/tzlibre" target="_blank" class="btn iconbtn">
              <svg class="icon">
                <use href="/images/svgdefs.svg#icon-social-telegram-channel" />
              </svg><span>Telegram Channel: <strong>@tzlibre</strong></span></a>
          </p>
          <p>
            <a href="https://twitter.com/tzlibre" target="_blank" class="btn iconbtn">
              <svg class="icon">
                <use href="/images/svgdefs.svg#icon-social-twitter-small" />
              </svg><span>Twitter: <strong>@tzlibre</strong></span></a>
          </p>
          <p>
            <a href="https://www.reddit.com/r/tzlibre" target="_blank" class="btn iconbtn">
              <svg class="icon">
                <use href="/images/svgdefs.svg#icon-social-reddit-small" />
              </svg><span>Reddit: <strong>@tzlibre</strong></span></a>
          </p>
          <p>
            <a href="https://t.me/tz_libre" target="_blank" class="btn iconbtn">
              <svg class="icon">
                <use href="/images/svgdefs.svg#icon-social-telegram-small" />
              </svg><span>Telegram: <strong>@tz_libre</strong></span></a>
          </p>
          <p>
            <a href="mailto:tzlibr%65@pro%74on%6Dail.c%6Fm" class="btn iconbtn">
              <svg class="icon">
                <use href="/images/svgdefs.svg#icon-social-email-small" />
              </svg><span><strong>tzlibre@protonmail.com</strong></span></a> |
            <a href="/publickey.tzlibre@protonmail.com.asc" class="btnlabel"><span>pgp key</span></a>
          </p>
        </div>

      </div>

    </footer>

    <!-- Templates for modals-->
    <div class="cloak" id="modal-cloak">

      <div class="modal" id="modal-step-not-allowed">
        <h4><span data-id="modal-step-not-allowed_title">Sorry, you can&apos;t do this now</span>
          <svg class="alert-icon">
            <use href="/images/svgdefs.svg#icon-alert" />
          </svg>
        </h4>
        <p data-id="modal_stepnotallowed_text">You are not allowed to do this now: go to Verify page to find out what to do next</p>
        <div class="modal-actions" id="modal-actions-step-not-allowed">
          <a class="btn btn-primary" v-bind:href="verify_url" data-id="btn_verifyit">Check</a>
        </div>
      </div>

      <div class="modal modal-warning" id="modal-error-tzl-addr">
        <h4><span data-id="modal_error_title">Error</span>
          <svg class="alert-icon">
            <use href="/images/svgdefs.svg#icon-alert" />
          </svg>
        </h4>
        <p data-id="modal_tzladdress_text">Wrong Tezos address (public key hash)</p>
        <div class="modal-actions">
          <a class="btn modal-action-cancel" data-id="btn_close">Close</a>
        </div>
      </div>

      <div class="modal modal-warning" id="modal-error-eth-addr">
        <h4><span data-id="modal_error_title">Error</span>
          <svg class="alert-icon">
            <use href="/images/svgdefs.svg#icon-alert" />
          </svg>
        </h4>
        <p data-id="modal_ethaddress_text">Wrong Ethereum address</p>
        <div class="modal-actions">
          <a class="btn modal-action-cancel" data-id="btn_close">Close</a>
        </div>
      </div>

      <div class="modal modal-warning" id="modal-error-tzl-pk">
        <h4><span data-id="modal_error_title">Error</span>
          <svg class="alert-icon">
            <use href="/images/svgdefs.svg#icon-alert" />
          </svg>
        </h4>
        <p data-id="modal_tzlpkerror_text">Wrong Tezos public key. Please note: the public key is not the public key hash</p>
        <div class="modal-actions">
          <a class="btn modal-action-cancel" data-id="btn_close">Close</a>
        </div>
      </div>

      <div class="modal modal-warning" id="modal-error-eth-addr-signature">
        <h4><span data-id="modal_error_title">Error</span>
          <svg class="alert-icon">
            <use href="/images/svgdefs.svg#icon-alert" />
          </svg>
        </h4>
        <p data-id="modal_addrsignatureerror_text">Wrong signature. You must sign your Ethereum address with your Tezos key.</p>
        <div class="modal-actions">
          <a class="btn modal-action-cancel" data-id="btn_close">Close</a>
        </div>
      </div>

      <div class="modal modal-warning" id="modal-error-generic">
        <h4><span data-id="modal_genericerror_title">Something went wrong</span>
          <svg class="alert-icon">
            <use href="/images/svgdefs.svg#icon-alert" />
          </svg>
        </h4>
        <p data-id="modal_genericerror_text">Try again or
          <a href="https://t.me/tz_libre" target="_blank">contact us</a>.</p>
        <div class="modal-actions">
          <a class="btn modal-action-cancel" data-id="btn_close">Close</a>
        </div>
      </div>


    </div>

    <script src="/js/vue.min.js"></script>
    <script src="/js/moment-with-locales.js"></script>
    <script src="/js/modals.js"></script>
    <script src="/js/utils.js"></script>
    <script src="/js/scripts.js"></script>
    <script src="/js/scripts-ticker.js"></script>
    <script src="/js/scripts-infobar.js"></script>
    <script src="/js/scripts-sign.js"></script>




  </body>

</html>