<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" prefix="og: http://ogp.me/ns#">

  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no, minimal-ui">
    <title data-id="default_page_title">Tz Libre | a fork of DLS KYC Tezos</title>
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    <link rel="manifest" href="/site.webmanifest">
    <link rel="mask-icon" href="/safari-pinned-tab.svg" color="#1F260B">
    <meta name="msapplication-TileColor" content="#1F260B">
    <meta name="theme-color" content="#1F260B">
    <link href="/style/style.css" rel="stylesheet">
    <meta itemprop="image" content="https://tzlibre.github.io/tzl-shareimage.png">
    <meta property="og:image" content="https://tzlibre.github.io/tzl-shareimage.png">
    <meta property="og:image:width" content="1200">
    <meta property="og:image:height" content="628">
    <meta property="og:title" content="Tz Libre | a fork of DLS KYC Tezos">
    <meta property="og:description" content="TzLibre is a fork of KYC-Tezos: a permissionless, KYC-free, hard-capped implementation of Tezos">
    <meta property="og:url" content="https://tzlibre.github.io">
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:site" content="@tzlibre">
    <meta name="twitter:title" content="Tz Libre | a fork of DLS KYC Tezos">
    <meta name="twitter:description" content="TzLibre is a fork of KYC-Tezos: a permissionless, KYC-free, hard-capped implementation of Tezos">
    <meta name="twitter:image" content="https://tzlibre.github.io/tzl-shareimage.png">
  </head>

  <body>

    <header>
      <div class="content">
        <div class="header-main">
          <div class="wordmark">
            <a href="index.html">
              <img src="/images/tzllogo-wordmark.svg" alt="tzlibre wordmark">
            </a>
          </div>
          <div id="infobar" class="priceticker hideOnMobile">
            <a href="https://forkdelta.app/#!/trade/0x6b91bc206eed0a8474f071339d1fd7ed7156f856-ETH" target="_blank">
              <span class="infobar-lbl">1 TZL =</span>
              <span class="infobar-value">{{price_usd}} USD <span v-bind:class="price_variation_class">{{price_variation_value}}</span></span>
            </a>
          </div>
        </div>

        <a href="index.html" class="logo">
          <img src="/images/tzllogo-base.svg" alt="tzlibre logo">
        </a>
        <nav class="nav-primary">
          <input id="collapsible" class="toggle" type="checkbox">
          <label for="collapsible">
            <svg class="icon">
              <use href="/images/svgdefs.svg#icon-arrow-dropdown" />
            </svg>
          </label>
          <div>
            <ul>
              <li class="{{ nav0_class }}">
                <a class="hidden"><strong>MENU</strong></a>
              </li>
              <li class="{{ nav5_class }}">
                <a href="swap.html" data-id="swap_nav">ERC-20 Migrate</a>
              </li>
              <li class="{{ nav3_class }}">
                <a href="bake.html" data-id="pod_nav">Bake</a>
              </li>
              <!--
      <li class="{{ nav3_class }}"><a href="delegate.html" data-id="dlgt_nav"></a></li>
      <li class="{{ nav5_class }}"><a href="deposit.html" data-id="smartdlgt_nav"></a></li>
      -->
              <li class="selected">
                <a href="verify.html" data-id="verify_title">Verify</a>
              </li>
            </ul>
            <ul>
              <li class="{{ nav9_class }}">
                <a href="https://librebox.github.io" target="_blank" data-id="wallet_title">Wallet</a>
              </li>
              <li class="{{ nav7_class }}">
                <a href="https://github.com/tzlibre/whitepaper/raw/master/tzlibre-whitepaper.pdf" target="_blank">Whitepaper</a>
              </li>
              <li class="{{ nav4_class }}">
                <a href="betanet.html">Betanet</a>
              </li>
              <li class="{{ nav1_class }}">
                <a href="project.html" data-id="home_title">Project</a>
              </li>
              <li class="{{ nav2_class }}">
                <a href="faq.html" data-id="faq_title">FAQ</a>
              </li>
            </ul>
          </div>
        </nav>

      </div>
    </header>

    <div class="main">

      <div class="content">

        <div class="block">

          <h2 data-id="verify_page_title">Verify your Tezos address</h2>

          <label for="verify-pkh" data-id="wl_intro">Tezos address (a/k/a public key hash)</label>
          <form action="Javascript:verify()" class="singlerowform" id="verify-form">

            <input type="text" placeholder="tz1 or KT1" id="verify-pkh" required>
            <button class="btn" type="submit" v-bind:class="{ loading: loading }" :disabled="loading">
              <svg class="icon">
                <use href="/images/svgdefs.svg#icon-arrow-next" />
              </svg>
            </button>

          </form>

          <div id="results">

            <div class="formresult" id="verify-account-box" v-if="show" v-cloak="">
              <div>
                <p data-id-to-be-set=""><strong>Account</strong></p>
              </div>

              <br>
              <div>

                <p>Your Tezos address:</p>
                <p><span class="inline-code">{{ tzl_pkh }}</span></p>

              </div>
              <br>
              <div v-if="!eth_no_addr">
                <p>
                  <span v-if="eth_addr_confirmed" class="green">&#x2714;</span>
                  <span v-else="" class="red">&#x2718;</span>
                  <span v-if="eth_addr_confirmed">Linked</span>
                  <span v-else="">Unconfirmed</span>
                  <span>Ethereum address for TZL airdrops:</span></p>
                <p><span class="inline-code">{{ eth_addr }}</span></p>
                <p v-if="show &amp;&amp; !signed">Optional: you can confirm your Ethereum address at any time.
                  <a v-bind:href="&apos;/sign.html?pkh=&apos; + tzl_pkh + &apos;&amp;eth=&apos; + eth_addr">Generate a signature</a> or
                  <a href="/project.html#contacts">contact us</a>.</p>
              </div>
            </div>

            <!-- if ETH addr is 0x00000... -->
            <div id="verify-warning-not-eth-addr" v-if="show &amp;&amp; eth_no_addr &amp;&amp; !signed" v-cloak="">
              <div class="formresult">
                <p>
                  <strong><span data-id="verify_warning_not_eth_addr_short">Ethereum address</span></strong>
                </p>
                <p data-id="verify_warning_not_eth_addr">To receive TZL you should link an Ethereum address. You can do it at any time, no accrued TZL will be lost: unreceived payouts (on hold) will be delivered after you link an Ethereum address. To link an Ethereum address
                  <a v-bind:href="&apos;/sign.html?pkh=&apos; + tzl_pkh">generate a signature</a> or
                  <a href="/project.html#contacts">contact us</a>.</p>
              </div>
            </div>

            <!-- if has delegated -->
            <div id="verify-delegate-box" class="formresult" v-if="show &amp;&amp; has_delegated" v-cloak="">

              <div>
                <p><strong>Delegations</strong></p>
              </div>

              <table class="datatable">
                <tbody>
                  <tr>
                    <th><span data-id="verify-delegation-detail-contract">delegator</span></th>
                    <th><span data-id="verify-delegation-detail-amount">amount</span></th>
                  </tr>

                  <tr class="verify-delegation-details" v-for="delegation in augment_delegations(delegations)">
                    <td>
                      <p>
                        <a target="_blank" :href="delegation.tzscan_link">{{ delegation.contract }}</a>
                      </p>
                    </td>
                    <td>
                      <p><span>{{ delegation.amount }} XTZ</span></p>
                    </td>
                  </tr>
                </tbody>
              </table>

              <br>
              <br>

              <div>
                <p data-id="verify_result_dlgt">Total delegations:</p>
                <p class="bigdata">{{ delegated_amount }} XTZ</p>
              </div>
            </div>

            <!-- if has deposited -->
            <div id="verify-deposit-box" class="formresult" v-if="show &amp;&amp; has_deposited" v-cloak="">
              <div>
                <p data-id-to-be-set=""><strong>Deposits</strong></p>
              </div>

              <table class="datatable">
                <tbody>
                  <tr>
                    <th><span data-id="verify-deposit-detail-depositor">depositor</span></th>
                    <th><span data-id="verify-deposit-detail-amount">amount</span></th>
                  </tr>
                  <tr class="verify-delegation-details" v-for="deposit in augment_deposits(deposits)">
                    <td>
                      <p>
                        <a target="_blank" :href="deposit.tzscan_link">{{ deposit.depositor }}</a>
                      </p>
                    </td>
                    <td>
                      <p><span>{{ deposit.amount }} XTZ</span></p>
                    </td>
                  </tr>
                </tbody>
              </table>

              <br>
              <br>

              <div>
                <p data-id="verify_result_dpst">Total deposits:</p>
                <p class="bigdata">{{ deposited_amount }} XTZ</p>
              </div>

            </div>

            <!-- if not earning -->
            <div id="verify-warning-not-earning" v-if="!is_earning" v-cloak="">
              <div class="formresult">
                <p class="warning">
                  <svg class="alert-icon">
                    <use href="/images/svgdefs.svg#icon-alert" />
                  </svg>
                  <span>No rewards</span>
                </p>
                <p>You&apos;re not earning rewards.
                  <a href="/index.html">Delegate or deposit</a> your XTZ to earn TZL rewards</p>
              </div>
            </div>

            <!-- if can earn more -->
            <div id="verify-warning-can-earn-more" v-if="can_earn_more" v-cloak="">
              <div class="formresult">
                <p class="warning">
                  <svg class="alert-icon">
                    <use href="/images/svgdefs.svg#icon-alert" />
                  </svg>
                  <span>You&apos;re missing rewards</span>
                </p>
                <p>Move your XTZ from delegation to
                  <a href="/deposit.html" target="_blank"> TzLibre Deposit</a> and <strong>earn {{ deposit_multiplier }}x more TZL</strong></p>
              </div>
            </div>

            <!-- if airdropped -->
            <div class="formresult" id="verify-airdrops-box" v-if="show" v-cloak="">
              <div>
                <p data-id-to-be-set=""><strong>Past payouts</strong></p>
              </div>

              <table class="datatable">
                <tbody>
                  <tr>
                    <th>Date</th>
                    <th>For</th>
                    <th><span data-id="verify-delegation-detail-amount">amount</span></th>
                    <th>TX fee</th>
                    <th>TX ID</th>
                  </tr>

                  <tr class="verify-airdrop-details" v-for="airdrop in augment_airdrops(confirmed(rounds))">
                    <td>
                      <p>{{ airdrop.ts_to_show }}</p>
                    </td>
                    <td>
                      <div class="timestamp">
                        <p>
                          <a target="_blank" :href="airdrop.info_link">{{ airdrop.multiline_desc[0] }}</a>
                        </p>
                        <p>{{ airdrop.multiline_desc[1] }}</p>
                      </div>
                    </td>
                    <td>
                      <p><strong>{{ airdrop.amount_to_show }} TZL</strong></p>
                    </td>
                    <td>
                      <div class="timestamp">
                        <p>{{ airdrop.tx_fee_to_show }} TZL</p>
                        <p>(~{{ airdrop.tx_fee_eth }} ETH)</p>
                      </div>
                    </td>
                    <td>
                      <p>
                        <a target="_blank" :href="airdrop.etherscan_link">{{ airdrop.txid_to_show }}</a>
                      </p>
                    </td>
                  </tr>
                </tbody>
              </table>

              <br>
              <br>

              <!-- paid rewards summary -->
              <div class="formresult-cols">
                <div>
                  <p data-id="verify_result_airdropped">Total received</p>
                  <p class="bigdata">{{ total_airdropped_amount }} TZL</p>
                </div>
                <div>
                  <p data-id="verify_result_miningfees">Ethereum mining fees</p>
                  <p class="bigdata">{{ total_fee }} TZL</p>
                </div>
                <div>
                  <p data-id="verify_result_airdrops">Payouts</p>
                  <p class="bigdata">{{ n_airdrops }}</p>
                </div>
              </div>
            </div>

            <!-- if has upcoming payouts -->
            <div id="verify-upcoming-payouts-box" class="formresult" v-if="show &amp;&amp; has_upcoming_payouts" v-cloak="">
              <div>
                <p data-id-to-be-set=""><strong>Accrued payouts</strong></p>
              </div>

              <table class="datatable">
                <tbody>
                  <tr>
                    <th>Date</th>
                    <th>For</th>
                    <th>Reward Amount</th>
                    <th>Timeframe</th>
                  </tr>

                  <tr class="verify-delegation-details" v-bind:class="{&apos;verify-payout-details-hold&apos;: payout.skipped}" v-for="payout in augment_upcoming_payouts(items)">
                    <td>
                      <p>{{ payout.payout_date }}</p>
                    </td>
                    <td>
                      <div class="timestamp">
                        <p>
                          <a target="_blank" :href="payout.info_link">{{ payout.multiline_desc[0] }}</a>
                        </p>
                        <p>{{ payout.multiline_desc[1] }}</p>
                      </div>
                    </td>
                    <td v-if="payout.is_accruing">
                      <div class="timestamp">
                        <p>accrued: {{ payout.reward_amount }} TZL</p>
                        <p>expected: {{ payout.expected_amount_to_show }} TZL</p>
                      </div>

                    </td>
                    <td v-else="">
                      <p><strong>{{ payout.reward_amount }} TZL</strong></p>
                    </td>
                    <td>
                      <div class="timestamp">
                        <p>from: {{payout.period_from }}</p>
                        <p>to: {{payout.period_to }}</p>
                      </div>
                    </td>
                  </tr>
                </tbody>
              </table>

              <br>
              <br>

              <div>
                <p>Total accrued payouts:</p>
                <p class="bigdata">{{ total_payout_amount }} TZL</p>
              </div>
            </div>

          </div>


          <!-- next steps -->
          <a name="next-steps"></a>

          <div class="nextstepbox" id="next-steps" v-if="show" v-observe-visibility="visibility_changed" v-cloak="">

            <h2 data-id="nextstep_title">Next steps</h2>
            <a href="#next-steps" class="ns-btn-float" data-id="nextstep_title" v-if="show_floating_btn">Next steps</a>

            <!-- if claimed (and signed) -->
            <div v-if="claimed &amp;&amp; !has_delegated">
              <div class="nextstepslist">

                <div v-if="!opt2">
                  <p data-id="nextstep_getairdrops">Get support</p>
                  <p v-if="opt1">
                    <a href="https://t.me/tzlibre_en" target="_blank" class="btn">
                      <svg class="icon">
                        <use href="/images/svgdefs.svg#icon-social-telegram-group" />
                      </svg><span data-id="nextstep_group">Telegram group</span></a>
                  </p>
                  <p v-if="opt3">
                    <a href="https://t.me/joinchat/G9-DflDz6Iywb7LePonV5g" target="_blank" class="btn">
                      <svg class="icon">
                        <use href="/images/svgdefs.svg#icon-social-telegram-group" />
                      </svg><span data-id="nextstep_group">Telegram group</span></a>
                  </p>
                </div>

                <div>
                  <p data-id="nextstep_signclaim">Deposit XTZ</p>
                  <p>
                    <a v-bind:href="delegate_url" class="btn"><span data-id="nextstep_claim_ok">Deposit</span></a>
                  </p>
                </div>

              </div>

            </div>

            <!-- if has delegated -->
            <div v-if="has_delegated &amp;&amp; !opt2">
              <div class="nextstepslist">

                <div>
                  <p data-id="sign_nextstep">Track TZL airdrops and meet other TZL traders</p>
                  <p v-if="opt1">
                    <a href="https://t.me/joinchat/G9-DfhMKURr6J7VhUYZ6Tw" target="_blank" class="btn">
                      <svg class="icon">
                        <use href="/images/svgdefs.svg#icon-social-telegram-group" />
                      </svg><span data-id="nextstep_sign">Trade TZL</span></a>
                  </p>
                  <p v-if="opt3">
                    <a href="https://t.me/joinchat/G9-DflDz6Iywb7LePonV5g" target="_blank" class="btn">
                      <svg class="icon">
                        <use href="/images/svgdefs.svg#icon-social-telegram-group" />
                      </svg><span data-id="nextstep_sign">Trade TZL</span></a>
                  </p>
                </div>

              </div>
            </div>

          </div>

        </div>

      </div>

    </div>

    <div class="main-light">

      <div class="content">

        <div class="block block-tight">

          <div class="row">
            <h4 data-id="verify_sub1_title">What</h4>
            <p class="row-main" data-id="verify_sub1_txt">Enter your XTZ address to verify the status of your TZL claim. You can submit any valid XTZ address (tz1 or KT1).</p>
          </div>

          <div class="row">
            <h4 data-id="verify_sub2_title">Already delegated?</h4>
            <p class="row-main" data-id="verify_sub2_txt">Submit your KT1 address to check your delegation status. You can download the
              <a href="https://tzlibre.io/delegations.csv" target="_blank">Delegation data (CSV)</a>, updated every 5 minutes.</p>
          </div>

          <div class="row">
            <h4 data-id="verify_sub3_title">Help</h4>
            <p class="row-main" data-id="verify_sub3_txt">Need help?
              <a href="/project.html#contacts">Contact us</a>.</p>
          </div>

        </div>

      </div>

    </div>

    <footer>

      <div class="content">

        <div class="footer-main">
          <h2 data-id="contact_us">Contact us</h2>
          <p data-id="contact_intro">We&apos;ll never ask for your personal data. Please report any phishing attempt, we are aware of fake TzLibre accounts on social media. We strongly suggest you to bookmark all of our official addresses.</p>
        </div>

        <div class="footer-contacts">
          <p>
            <a href="https://t.me/tzlibre_en" target="_blank" class="btn iconbtn">
              <svg class="icon">
                <use href="/images/svgdefs.svg#icon-social-telegram-small" />
              </svg><span>Telegram group: <strong>@tzlibre_en</strong></span></a>
          </p>
          <p>
            <a href="https://t.me/tzlibre" target="_blank" class="btn iconbtn">
              <svg class="icon">
                <use href="/images/svgdefs.svg#icon-social-telegram-channel" />
              </svg><span>Telegram Channel: <strong>@tzlibre</strong></span></a>
          </p>
          <p>
            <a href="https://twitter.com/tzlibre" target="_blank" class="btn iconbtn">
              <svg class="icon">
                <use href="/images/svgdefs.svg#icon-social-twitter-small" />
              </svg><span>Twitter: <strong>@tzlibre</strong></span></a>
          </p>
          <p>
            <a href="https://www.reddit.com/r/tzlibre" target="_blank" class="btn iconbtn">
              <svg class="icon">
                <use href="/images/svgdefs.svg#icon-social-reddit-small" />
              </svg><span>Reddit: <strong>@tzlibre</strong></span></a>
          </p>
          <p>
            <a href="https://github.com/tzlibre" target="_blank" class="btn iconbtn">
              <svg class="icon">
                <use href="/images/svgdefs.svg#icon-social-github-small" />
              </svg><span>Github: <strong>tzlibre</strong></span></a>
          </p>
          <p>
            <a href="mailto:tzlibr%65@pro%74on%6Dail.c%6Fm" class="btn iconbtn">
              <svg class="icon">
                <use href="/images/svgdefs.svg#icon-social-email-small" />
              </svg><span><strong>tzlibre@protonmail.com</strong></span></a> |
            <a href="/publickey.tzlibre@protonmail.com.asc" class="btnlabel"><span>pgp key</span></a>
          </p>
        </div>

      </div>

    </footer>


    <!-- Templates for modals-->
    <div class="cloak" id="modal-cloak">

      <div class="modal" id="modal-not-found">
        <h4><span data-id="modal_notfound_title">Notice</span>
          <svg class="alert-icon">
            <use href="/images/svgdefs.svg#icon-alert" />
          </svg>
        </h4>
        <p data-id="modal_notfound_text">Tezos address not found. Make sure this Tezos address is currently delegating or depositing XTZ. If you delegated or deposited in the last 5 minutes, please check again later.</p>
        <div class="modal-actions">
          <a class="btn btn-primary" href="/index.html">Delegate or deposit</a>
        </div>
      </div>

      <div class="modal modal-warning" id="modal-error-tzl-addr">
        <h4><span data-id="modal_error_title">Error</span>
          <svg class="alert-icon">
            <use href="/images/svgdefs.svg#icon-alert" />
          </svg>
        </h4>
        <p data-id="modal_tzladdress_text">Wrong Tezos address (public key hash)</p>
        <div class="modal-actions">
          <a class="btn modal-action-cancel" data-id="btn_close">Close</a>
        </div>
      </div>

      <div class="modal modal-warning" id="modal-error-generic">
        <h4><span data-id="modal_genericerror_title">Something went wrong</span>
          <svg class="alert-icon">
            <use href="/images/svgdefs.svg#icon-alert" />
          </svg>
        </h4>
        <p data-id="modal_genericerror_text">Try again or
          <a href="https://t.me/tz_libre" target="_blank">contact us</a>.</p>
        <div class="modal-actions">
          <a class="btn modal-action-cancel" data-id="btn_close">Close</a>
        </div>
      </div>


    </div>

    <script src="/js/vue.min.js"></script>
    <script src="/js/vue-observe-visibility.min.js"></script>
    <script src="/js/moment-with-locales.js"></script>
    <script src="/js/modals.js"></script>
    <script src="/js/rewards-config.js"></script>
    <script src="/js/utils.js"></script>
    <script src="/js/scripts.js"></script>
    <script src="/js/scripts-ticker.js"></script>
    <script src="/js/scripts-infobar.js"></script>
    <script src="/js/scripts-verify.js"></script>
    <script src="/js/scripts-swap.js"></script>




  </body>

</html>