<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" prefix="og: http://ogp.me/ns#">

  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no, minimal-ui">
    <title data-id="default_page_title">Tz Libre | a fork of DLS KYC Tezos</title>
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    <link rel="manifest" href="/site.webmanifest">
    <meta name="msapplication-TileColor" content="#1F260B">
    <meta name="theme-color" content="#1F260B">
    <link href="/style/style.css" rel="stylesheet">
    <meta itemprop="image" content="https://tzlibre.github.io/tzl-shareimage.png">
    <meta property="og:image" content="https://tzlibre.github.io/tzl-shareimage.png">
    <meta property="og:title" data-id="default_page_title" content="Tz Libre | a fork of DLS KYC Tezos">
  </head>

  <body>

    <div class="topbar">
      <div class="content">

        <div id="infobar" class="infobar">
          <div>
            <a href="https://forkdelta.app/#!/trade/0x6b91bc206eed0a8474f071339d1fd7ed7156f856-ETH" target="_blank">
              <span class="infobar-block">
            <span class="infobar-lbl">1 TZL =</span>
              <span class="infobar-value">{{price_usd}}</span> <span>USD</span> <span v-bind:class="price_variation_class">{{price_variation_value}}</span></span>

              <span class="infobar-block hideOnMobile">
            <span class="infobar-lbl" data-id="marketcap">market cap</span>
              <span class="infobar-value" id="marketCapValue">N/A</span>
              </span>
            </a>
          </div>
          <div>
            <a href="http://tzscan.io/tz1iDu3tHhf7H4jyXk6rGV4FNUsMqQmRkwLp#" target="_blank">
              <span class="infobar-block">
            <span class="infobar-lbl">Delegations</span>
              <span class="infobar-value">{{delegations}}</span> <span>XTZ</span>
              </span>
            </a>
          </div>
          <div>
            <a href="">
              <span class="infobar-block">
                  <span class="infobar-lbl">Deposits</span>
              <span class="infobar-value">{{deposits}}</span> <span>XTZ</span>
              </span>
              <span class="infobar-block hideOnMobile">
                  <span class="infobar-lbl">Collateral</span>
              <span class="infobar-value">{{collateralization}}</span><span>%</span>
              </span>
            </a>
          </div>
        </div>

        <ul class="langswitch">
          <li>
            <button data-lang="en">en</button>
          </li>
          <li>
            <button data-lang="ru">&#x440;&#x443;</button>
          </li>
          <li>
            <button data-lang="cn">&#x4E2D;&#x6587;</button>
          </li>
        </ul>

      </div>
    </div>


    <header class="header-mini">
      <div class="content">
        <div class="header-main">
          <div class="wordmark">
            <a href="index.html">
              <img src="/images/tzllogo-wordmark.svg" alt="tzlibre wordmark">
            </a>
          </div>
        </div>
        <a href="index.html" class="logo">
          <img src="/images/tzllogo-base.svg" alt="tzlibre logo">
        </a>
      </div>
    </header>

    <nav class="nav-primary">
      <input id="collapsible" class="toggle" type="checkbox">
      <label for="collapsible">MENU</label>
      <div class="content">
        <ul class="nav-primary-main">
          <!--li class="{{ nav3_class }}"><a href="whitelist.html" data-id="wl_title"></a></li>
      <li class="{{ nav4_class }}"><a href="claim.html" data-id="split_title"></a></li-->
          <li class="{{ nav5_class }}">
            <a href="delegate.html" data-id="dlgt_title">Get TZL</a>
          </li>
          <li class="{{ nav6_class }}">
            <a href="verify.html" data-id="verify_title">Verify</a>
          </li>
          <li class="selected">
            <a href="sign.html" data-id="sign_title">Link</a>
          </li>
        </ul>
        <ul class="nav-primary-side">
          <li class="{{ nav1_class }}">
            <a href="project.html" data-id="home_title">Project</a>
          </li>
          <li class="{{ nav2_class }}">
            <a href="faq.html" data-id="faq_title">&#x5E38;&#x89C1;&#x95EE;&#x9898;</a>
          </li>
        </ul>
      </div>
    </nav>


    <div class="main">

      <div class="content">

        <div class="block">

          <h3 data-id="sign_page_title">Link your Ethereum address</h3>

          <p data-id="sign_intro">After delegating TzLibre you must link your Tezos address with an Ethereum address. To do so you must prove ownership of your Tezos address by signing your current Ethereum address with your Tezos private key. You won&apos;t be able to change
            your Ethereum address afterwards. We suggest to use a brand new Ethereum address. Your signature will be public. To produce your signature
            <a href="https://github.com/tzlibre/signature-webtool/releases/download/v1.3/tzlibre-signature-webtool.html"
              download="tzlibre-signature-webtool.html"><span>download our web tool</span></a>, then open it and follow the instructions. If you&apos;re a developer you can clone one of our signing repos directly from Github:</p>

          <p>
            <a href="https://github.com/tzlibre/fundraiser-tools" target="_blank" class="btn">
              <svg class="icon">
                <use href="/images/svgdefs.svg#icon-social-github-small" />
              </svg>
              <span data-id="sign_cltool">Command-line tool</span>
            </a>
            <a href="https://github.com/tzlibre/signature-webtool" target="_blank" class="btn">
              <svg class="icon">
                <use href="/images/svgdefs.svg#icon-social-github-small" />
              </svg>
              <span data-id="sign_webtool">Web tool</span>
            </a>
          </p>

          <p data-id="sign_help">Need help?
            <a href="https://t.me/tz_libre" target="_blank"><span>Contact us</span></a>
          </p>

          <br>

          <form action="Javascript:sign()" class="" id="sign-form">

            <label for="sign-pkh" data-id="wl_intro">Tezos address (a/k/a public key hash)</label>
            <input type="text" placeholder="tz1..." id="sign-pkh" required>
            <label for="sign-eth-addr" data-id="eth_address">Current Ethereum address</label>
            <input type="text" placeholder="0x..." id="sign-eth-addr" required>
            <label for="sign-pk" data-id="tezos_publickey">Tezos public key</label>
            <input type="text" id="sign-pk" required>
            <label for="sign-eth-addr-signature" data-id="eth_signature">Cryptographic signature</label>
            <input type="text" id="sign-eth-addr-signature" required>
            <div class="formaction">
              <input type="submit" id="sign-submit" data-id="sign_button" v-bind:class="{ loading: loading }" :disabled="loading" value="Sign">
            </div>

          </form>

          <div id="results">
            <div id="sign-success" v-if="success" v-cloak="">
              <div class="formresult">
                <p class="timestamp">{{ timestamp }}</p>
                <p data-id="sign_result_success">Your signature has been verified and saved: it is valid and can&apos;t be changed or updated. You provided a valid proof of ownership and the Tezos address (a/k/a Tezos public key hash) <strong>{{ tzl_pkh }}</strong> is now indisputably
                  and permanently linked to the Ethereum address <strong>{{ eth_addr }}</strong>.</p>
              </div>
            </div>
          </div>


          <!-- next steps -->
          <div class="nextstepbox" id="next-steps" v-if="show &amp;&amp; signed &amp;&amp; !opt2" v-cloak="">
            <h3 data-id="nextstep_title">Next steps</h3>
            <div>
              <div class="nextstepslist">

                <div>
                  <p data-id="sign_nextstep">Track TZL airdrops and meet other TZL traders</p>
                  <a v-bind:href="verify_url" class="btn"><span data-id="verify_page_title">Verify your Tezos address</span></a>
                </div>

              </div>
            </div>
          </div>

        </div>

      </div>

    </div>

    <div class="actionbar">

      <div class="content">

        <div class="actionbar-main">

          <span data-id="cta_button_actionbar"><a href="https://t.me/tzlibre" target="_blank" class="btn btn-primary"><svg class="icon"><use href="/images/svgdefs.svg#icon-social-telegram-channel"/></svg><span>Telegram channel</span></a>
          </span>

          <span><a href="https://www.reddit.com/r/tzlibre" target="_blank" class="btn btn-primary"><svg class="icon"><use href="/images/svgdefs.svg#icon-social-reddit-small"/></svg><span data-id="follow_reddit">Reddit sub</span></a>
          </span>

        </div>

        <div class="actionbar-contacts">

          <a href="https://t.me/tz_libre" target="_blank" class="iconbtn">
            <svg class="icon">
              <use href="/images/svgdefs.svg#icon-social-telegram-small" />
            </svg>
          </a>
          <a href="https://twitter.com/tzlibre" target="_blank" class="iconbtn">
            <svg class="icon">
              <use href="/images/svgdefs.svg#icon-social-twitter-small" />
            </svg>
          </a>
          <a href="mailto:tzlibr%65@pro%74on%6Dail.c%6Fm" class="iconbtn">
            <svg class="icon">
              <use href="/images/svgdefs.svg#icon-social-email-small" />
            </svg>
          </a>
          <a href="/publickey.tzlibre@protonmail.com.asc">pgp key</a>

        </div>

      </div>

    </div>

    <!-- Templates for modals-->
    <div class="cloak" id="modal-cloak">

      <div class="modal" id="modal-step-not-allowed">
        <h4><span data-id="modal-step-not-allowed_title">Sorry, you can&apos;t do this now</span>
          <svg class="alert-icon">
            <use href="/images/svgdefs.svg#icon-alert" />
          </svg>
        </h4>
        <p data-id="modal_stepnotallowed_text">You are not allowed to do this now: go to Verify page to find out what to do next</p>
        <div class="modal-actions" id="modal-actions-step-not-allowed">
          <a class="btn btn-primary" v-bind:href="verify_url" data-id="btn_verifyit">Verify</a>
        </div>
      </div>

      <div class="modal modal-warning" id="modal-error-tzl-addr">
        <h4><span data-id="modal_error_title">Error</span>
          <svg class="alert-icon">
            <use href="/images/svgdefs.svg#icon-alert" />
          </svg>
        </h4>
        <p data-id="modal_tzladdress_text">Wrong Tezos address (public key hash)</p>
        <div class="modal-actions">
          <a class="btn modal-action-cancel" data-id="btn_close">Close</a>
        </div>
      </div>

      <div class="modal modal-warning" id="modal-error-eth-addr">
        <h4><span data-id="modal_error_title">Error</span>
          <svg class="alert-icon">
            <use href="/images/svgdefs.svg#icon-alert" />
          </svg>
        </h4>
        <p data-id="modal_ethaddress_text">Wrong Ethereum address</p>
        <div class="modal-actions">
          <a class="btn modal-action-cancel" data-id="btn_close">Close</a>
        </div>
      </div>

      <div class="modal modal-warning" id="modal-error-tzl-pk">
        <h4><span data-id="modal_error_title">Error</span>
          <svg class="alert-icon">
            <use href="/images/svgdefs.svg#icon-alert" />
          </svg>
        </h4>
        <p data-id="modal_tzlpkerror_text">Wrong Tezos public key. Please note: the public key is not the public key hash</p>
        <div class="modal-actions">
          <a class="btn modal-action-cancel" data-id="btn_close">Close</a>
        </div>
      </div>

      <div class="modal modal-warning" id="modal-error-eth-addr-signature">
        <h4><span data-id="modal_error_title">Error</span>
          <svg class="alert-icon">
            <use href="/images/svgdefs.svg#icon-alert" />
          </svg>
        </h4>
        <p data-id="modal_addrsignatureerror_text">Wrong signature. You must sign your Ethereum address with your Tezos key.</p>
        <div class="modal-actions">
          <a class="btn modal-action-cancel" data-id="btn_close">Close</a>
        </div>
      </div>

      <div class="modal modal-warning" id="modal-error-generic">
        <h4><span data-id="modal_genericerror_title">Something went wrong</span>
          <svg class="alert-icon">
            <use href="/images/svgdefs.svg#icon-alert" />
          </svg>
        </h4>
        <p data-id="modal_genericerror_text">Try again or
          <a href="https://t.me/tz_libre" target="_blank">contact us</a>.</p>
        <div class="modal-actions">
          <a class="btn modal-action-cancel" data-id="btn_close">Close</a>
        </div>
      </div>


    </div>

    <script src="/js/vue.min.js"></script>
    <script src="/js/moment-with-locales.js"></script>
    <script src="/js/modals.js"></script>
    <script src="/js/utils.js"></script>
    <script src="/js/scripts.js"></script>
    <script src="/js/scripts-infobar.js"></script>
    <script src="/js/scripts-sign.js"></script>






  </body>

</html>