<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" prefix="og: http://ogp.me/ns#">

  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no, minimal-ui">
    <title data-id="default_page_title">Tz Libre | DLS Tezos&#x7684;&#x5206;&#x53C9;&#x9879;&#x76EE;</title>
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    <link rel="manifest" href="/site.webmanifest">
    <meta name="msapplication-TileColor" content="#1F260B">
    <meta name="theme-color" content="#1F260B">
    <link href="/style/style.css" rel="stylesheet">
    <meta itemprop="image" content="https://tzlibre.github.io/tzl-shareimage.png">
    <meta property="og:image" content="https://tzlibre.github.io/tzl-shareimage.png">
    <meta property="og:title" data-id="default_page_title" content="Tz Libre | DLS Tezos&#x7684;&#x5206;&#x53C9;&#x9879;&#x76EE;">
  </head>

  <body>

    <div class="langswitch">
      <ul class="content">
        <li>
          <button data-lang="en">english</button>
        </li>
        <li>
          <button data-lang="ru">&#x440;&#x443;&#x441;&#x441;&#x43A;&#x438;&#x439;</button>
        </li>
        <li>
          <button data-lang="cn">&#x4E2D;&#x6587;</button>
        </li>
        <li class="priceticker">
          <a href="https://forkdelta.github.io/#!/trade/0x6b91bc206eed0a8474f071339d1fd7ed7156f856-ETH" target="_blank">
            <span class="priceticker-block"><span class="priceticker-lbl">1 TZL =</span><span class="priceticker-value" id="priceTickerValue">0 USD</span></span>
            <span class="priceticker-block hideOnMobile"><span class="priceticker-lbl">market cap</span><span class="priceticker-value" id="marketCapValue">N/A</span></span>
            <span class="priceticker-block"><span class="priceticker-arrow">&gt;</span></span>
          </a>
        </li>
      </ul>
    </div>


    <header class="header-mini">
      <div class="content">
        <div class="header-main">
          <div class="wordmark">
            <a href="index.html">
              <img src="/images/tzllogo-wordmark.svg" alt="tzlibre wordmark">
            </a>
          </div>
        </div>
        <a href="index.html" class="logo">
          <img src="/images/tzllogo-base.svg" alt="tzlibre logo">
        </a>
      </div>
    </header>

    <nav class="nav-primary">
      <ul class="content">
        <li class="{{ nav1_class }}">
          <a href="project.html" data-id="home_title">&#x5173;&#x4E8E;</a>
        </li>
        <li class="{{ nav2_class }}">
          <a href="faq.html" data-id="faq_title">&#x5E38;&#x89C1;&#x95EE;&#x9898;</a>
        </li>
        <li class="{{ nav3_class }}">
          <a href="whitelist.html" data-id="wl_title">&#x767D;&#x540D;&#x5355;</a>
        </li>
        <li class="{{ nav4_class }}">
          <a href="claim.html" data-id="split_title">2. Claim</a>
        </li>
        <li class="selected">
          <a href="sign.html" data-id="sign_title">3. Sign</a>
        </li>
        <li class="{{ nav6_class }}">
          <a href="verify.html" data-id="verify_title">Verify</a>
        </li>
      </ul>
    </nav>


    <div class="main">

      <div class="content">

        <div class="block">

          <h3 data-id="sign_page_title">Sign your claim</h3>

          <p data-id="sign_intro">Prove ownership of your Tezos address by signing your current Ethereum address with your Tezos key. You won&apos;t be able to change your Ethereum address afterwards, and we suggest to use a brand new Ethereum address. Your signature will be
            public. To produce your signature
            <a href="https://github.com/tzlibre/signature-webtool/releases/download/v1.1/tzlibre-signature-webtool.html" download="tzlibre-signature-webtool.html"><span>download our web tool</span></a>, then open it and follow the instructions. If you&apos;re a developer you can clone one of our signing repos directly from Github:</p>

          <a href="https://github.com/tzlibre/fundraiser-tools" target="_blank" class="btn">
            <svg class="icon">
              <use href="/images/svgdefs.svg#icon-social-github-small" />
            </svg>
            <span>CL tool</span>
          </a>

          <span> </span>

          <a href="https://github.com/tzlibre/signature-webtool" target="_blank" class="btn">
            <svg class="icon">
              <use href="/images/svgdefs.svg#icon-social-github-small" />
            </svg>
            <span>Web tool</span>
          </a>

          <p data-id="sign_help">Need help?
            <a href="https://t.me/tz_libre" target="_blank"><span>Contact us</span></a>
          </p>

          <br>
          <br>
          <br>

          <form action="Javascript:sign()" class="" id="sign-form">

            <label for="sign-pkh" data-id="wl_intro">&#x8F93;&#x5165;Tezos&#x516C;&#x94A5;&#x5730;&#x5740;</label>
            <input type="text" placeholder="tz1..." id="sign-pkh" required>
            <label for="sign-eth-addr" data-id="eth_address">Current Ethereum address</label>
            <input type="text" placeholder="0x..." id="sign-eth-addr" required>
            <label for="sign-pk" data-id="tezos_publickey">Tezos public key</label>
            <input type="text" id="sign-pk" required>
            <label for="sign-eth-addr-signature" data-id="eth_signature">Cryptographic signature</label>
            <input type="text" id="sign-eth-addr-signature" required>
            <div class="formaction">
              <input type="submit" id="sign-submit" data-id="sign_button" v-bind:class="{ loading: loading }" :disabled="loading" value="Sign">
            </div>

          </form>

          <div id="results">
            <div id="sign-success" v-if="success">
              <div class="formresult">
                <p class="timestamp">{{ timestamp }}</p>
                <p data-id="sign_result_success">Your signature has been verified and saved: it is valid and can&apos;t be changed or updated. You provided a valid proof of ownership and the Tezos address (a/k/a Tezos public key hash) <strong>{{ tzl_pkh }}</strong> is now indisputably
                  and permanently linked to the Ethereum address <strong>{{ eth_addr }}</strong>.</p>
              </div>
            </div>
          </div>


          <!-- next steps -->
          <div class="nextstepbox" id="next-steps" v-if="show &amp;&amp; signed &amp;&amp; !opt2">
            <h3 data-id="nextstep_title">Next steps</h3>
            <div>
              <div class="nextstepslist">

                <div>
                  <p>Track TZL airdrops and meet other TZL traders</p>
                  <p v-if="opt1">
                    <a href="https://t.me/joinchat/G9-DfhMKURr6J7VhUYZ6Tw" target="_blank" class="btn">
                      <svg class="icon">
                        <use href="/images/svgdefs.svg#icon-social-telegram-group" />
                      </svg><span data-id="nextstep_sign">Trade TZL</span></a>
                  </p>
                  <p v-if="opt3">
                    <a href="https://t.me/joinchat/G9-DflDz6IwHnVcUUW9aOw" target="_blank" class="btn">
                      <svg class="icon">
                        <use href="/images/svgdefs.svg#icon-social-telegram-group" />
                      </svg><span data-id="nextstep_sign">Trade TZL</span></a>
                  </p>
                </div>

                <!--div>
    <p>2. Send a tweet</p>
    <p>TWEET SOMETHING...</p>
  </div-->

              </div>
            </div>
          </div>

        </div>

      </div>

    </div>

    <div class="actionbar">
      <div class="content">
        <span data-id="cta_button_actionbar"><a href="http://weibo.com/TzLibre" target="_blank" class="btn btn-primary"><svg class="icon"><use href="/images/svgdefs.svg#icon-social-weibo-small"/></svg><span>&#x5728;&#x5FAE;&#x535A;&#x5173;&#x6CE8;&#x6211;&#x4EEC;</span></a>
        </span>
        <p data-id="actionbar_text">&#x83B7;&#x53D6;&#x4EE3;&#x5E01;&#x5206;&#x914D;&#x7684;&#x6700;&#x65B0;&#x8D44;&#x8BAF;</p>
      </div>
    </div>

    <!-- Templates for modals-->
    <div class="cloak" id="modal-cloak">

      <div class="modal" id="modal-step-not-allowed">
        <h4><span data-id="modal-step-not-allowed_title">Sorry, you can&apos;t do this now</span>
          <svg class="alert-icon">
            <use href="/images/svgdefs.svg#icon-alert" />
          </svg>
        </h4>
        <p data-id="modal_stepnotallowed_text">You are not allowed to do this now: go to Verify page to find out what to do next</p>
        <div class="modal-actions">
          <a class="btn btn-primary" v-bind:href="verify_url" data-id="btn_verifyit">Verify</a>
        </div>
      </div>

      <div class="modal modal-warning" id="modal-error-tzl-addr">
        <h4><span data-id="modal_error_title">Error</span>
          <svg class="alert-icon">
            <use href="/images/svgdefs.svg#icon-alert" />
          </svg>
        </h4>
        <p data-id="modal_tzladdress_text">Wrong Tezos address (public key hash)</p>
        <div class="modal-actions">
          <a class="btn modal-action-cancel" data-id="btn_close">Close</a>
        </div>
      </div>

      <div class="modal modal-warning" id="modal-error-eth-addr">
        <h4><span data-id="modal_error_title">Error</span>
          <svg class="alert-icon">
            <use href="/images/svgdefs.svg#icon-alert" />
          </svg>
        </h4>
        <p data-id="modal_ethaddress_text">Wrong Ethereum address</p>
        <div class="modal-actions">
          <a class="btn modal-action-cancel" data-id="btn_close">Close</a>
        </div>
      </div>

      <div class="modal modal-warning" id="modal-error-tzl-pk">
        <h4><span data-id="modal_error_title">Error</span>
          <svg class="alert-icon">
            <use href="/images/svgdefs.svg#icon-alert" />
          </svg>
        </h4>
        <p data-id="modal_tzlpkerror_text">Wrong Tezos public key. Please note: the public key is not the public key hash</p>
        <div class="modal-actions">
          <a class="btn modal-action-cancel" data-id="btn_close">Close</a>
        </div>
      </div>

      <div class="modal modal-warning" id="modal-error-eth-addr-signature">
        <h4><span data-id="modal_error_title">Error</span>
          <svg class="alert-icon">
            <use href="/images/svgdefs.svg#icon-alert" />
          </svg>
        </h4>
        <p data-id="modal_addrsignatureerror_text">Wrong signature. You must sign your Ethereum address with your Tezos key.</p>
        <div class="modal-actions">
          <a class="btn modal-action-cancel" data-id="btn_close">Close</a>
        </div>
      </div>

      <div class="modal modal-warning" id="modal-error-generic">
        <h4><span data-id="modal_genericerror_title">Something went wrong</span>
          <svg class="alert-icon">
            <use href="/images/svgdefs.svg#icon-alert" />
          </svg>
        </h4>
        <p data-id="modal_genericerror_text">Try again or
          <a href="https://t.me/tz_libre" target="_blank">contact us</a>.</p>
        <div class="modal-actions">
          <a class="btn modal-action-cancel" data-id="btn_close">Close</a>
        </div>
      </div>


    </div>

    <script src="/js/vue.min.js"></script>
    <!-- <script src="/js/vue.js"></script> -->
    <script src="/js/moment-with-locales.js"></script>
    <script src="/js/modals.js"></script>
    <script src="/js/utils.js"></script>
    <script src="/js/scripts.js"></script>
    <script src="/js/scripts-sign.js"></script>






  </body>

</html>