<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" prefix="og: http://ogp.me/ns#">

  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no, minimal-ui">
    <title data-id="default_page_title">Tz Libre | a fork of DLS KYC Tezos</title>
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    <link rel="manifest" href="/site.webmanifest">
    <meta name="msapplication-TileColor" content="#1F260B">
    <meta name="theme-color" content="#1F260B">
    <link href="/style/style.css" rel="stylesheet">
    <meta itemprop="image" content="https://tzlibre.github.io/tzl-shareimage.png">
    <meta property="og:image" content="https://tzlibre.github.io/tzl-shareimage.png">
    <meta property="og:title" data-id="default_page_title" content="Tz Libre | a fork of DLS KYC Tezos">
  </head>

  <body>

    <div class="langswitch">
      <ul class="content">
        <li>
          <button data-lang="en">english</button>
        </li>
        <li>
          <button data-lang="ru">&#x440;&#x443;&#x441;&#x441;&#x43A;&#x438;&#x439;</button>
        </li>
        <li>
          <button data-lang="cn">&#x4E2D;&#x6587;</button>
        </li>
        <li class="priceticker">
          <a href="https://forkdelta.github.io/#!/trade/0x6b91bc206eed0a8474f071339d1fd7ed7156f856-ETH" target="_blank">
            <span class="priceticker-block"><span class="priceticker-lbl">1 TZL =</span><span class="priceticker-value" id="priceTickerValue">0 USD</span></span>
            <span class="priceticker-block hideOnMobile"><span class="priceticker-lbl" data-id="marketcap">market cap</span><span class="priceticker-value" id="marketCapValue">N/A</span></span>
            <span class="priceticker-block"><span class="priceticker-arrow">&gt;</span></span>
          </a>
        </li>
      </ul>
    </div>


    <header class="header-mini">
      <div class="content">
        <div class="header-main">
          <div class="wordmark">
            <a href="index.html">
              <img src="/images/tzllogo-wordmark.svg" alt="tzlibre wordmark">
            </a>
          </div>
        </div>
        <a href="index.html" class="logo">
          <img src="/images/tzllogo-base.svg" alt="tzlibre logo">
        </a>
      </div>
    </header>

    <nav class="nav-primary">
      <input id="collapsible" class="toggle" type="checkbox">
      <label for="collapsible">MENU</label>
      <div class="content">
        <ul class="nav-primary-main">
          <li class="{{ nav3_class }}">
            <a href="whitelist.html" data-id="wl_title">1. Whitelist</a>
          </li>
          <li class="{{ nav4_class }}">
            <a href="claim.html" data-id="split_title">2. Claim</a>
          </li>
          <li class="{{ nav5_class }}">
            <a href="delegate.html" data-id="dlgt_title">3. Delegate</a>
          </li>
          <li class="selected">
            <a href="verify.html" data-id="verify_title">Verify</a>
          </li>
          <li class="{{ nav7_class }}">
            <a href="sign.html" data-id="sign_title">Sign/Dispute</a>
          </li>
        </ul>
        <ul class="nav-primary-side">
          <li class="{{ nav1_class }}">
            <a href="project.html" data-id="home_title">Project</a>
          </li>
          <li class="{{ nav2_class }}">
            <a href="faq.html" data-id="faq_title">&#x5E38;&#x89C1;&#x95EE;&#x9898;</a>
          </li>
        </ul>
      </div>
    </nav>


    <div class="main">

      <div class="content">

        <div class="block">

          <h3 data-id="verify_page_title">Check your Tezos address</h3>

          <p data-id="verify_intro">Enter your
            <b>Tezos public key hash (a/k/a Tezos address)</b> to verify the status of your TZL claim. Need help?
            <a href="/project.html#contacts">Contact us</a>
          </p>

          <form action="Javascript:verify()" class="singlerowform" id="verify-form">
            <input type="text" placeholder="tz1..." id="verify-pkh" required>
            <input type="submit" value="Verify" data-id="verify_button" id="verify-submit" v-bind:class="{ loading: loading }" :disabled="loading">
          </form>

          <div id="results">

            <!-- if not whitelisted -->
            <!-- a modal inform the user to go to the whitelist page -->

            <!-- if whitelisted and not claimed -->
            <div id="verify-whitelist-box" v-if="show" v-cloak="">
              <div class="formresult">
                <p class="timestamp">{{ whitelist_time }}</p>
                <div class="formresult-cols">
                  <div>
                    <p data-id="verify_result_success">This Tezos address is whitelisted</p>
                    <p><strong>{{ pkh }}</strong></p>
                  </div>
                  <div>
                    <p v-if="not_claimed" data-id="verify_result_whitelisted">Whitelisted qty</p>
                    <p v-else="" data-id="verify_result_claimed">Claimed qty</p>
                    <p class="bigdata">{{ h_TZL }} TZL</p>
                  </div>
                </div>
              </div>
            </div>

            <!-- if claimed -->
            <div id="verify-claim-box" v-if="show" v-cloak="">
              <div class="formresult">
                <p class="timestamp">{{ timestamp }}</p>
                <p data-id="verify_result_split" v-if="eth_addr_confirmed">This is the linked Ethereum address</p>
                <p data-id="verify_result_split_uncof_addr" v-else="">This is the linked Ethereum address <span class="note">(Not your address? <strong><a v-bind:href="dispute_url">Dispute it</a></strong>)</span></p>
                <p><strong>{{ eth_addr }}</strong></p>
              </div>
            </div>

            <!-- if signed -->
            <div id="verify-sign-box" v-if="show &amp;&amp; signed" v-cloak="">
              <div class="formresult">
                <p class="timestamp">{{ timestamp }}</p>
                <p data-id="verify_result_sign">A valid proof of ownership has been provided. The TZL claim has been cryptographically signed by the Tezos address owner.</p>
              </div>
            </div>

            <!-- if has delegated -->
            <div id="verify-delegate-box" v-if="show" v-cloak="">
              <div class="formresult">
                <p class="timestamp">{{ timestamp }}</p>
                <div class="formresult-cols">
                  <div>
                    <p data-id="verify_result_dlgt">You are currently delegating <strong>TzLibre</strong>.</p>
                  </div>
                  <div>
                    <p data-id="verify_result_dlgt_amount">Delegated qty</p>
                    <p class="bigdata">{{ delegated_amount }} XTZ</p>
                  </div>
                </div>
              </div>
            </div>

            <!-- if not airdropped -->
            <div class="formresult" id="verify-noairdrops-box" v-if="show" v-cloak="">
              <div class="formresult-cols">
                <div>
                  <p data-id="verify_result_airdropped">The linked Ethereum address received a total of</p>
                  <p class="bigdata">0 TZL</p>
                </div>
                <div>
                  <p data-id="verify_result_airdrops">Airdrops</p>
                  <p><strong data-id="verify_result_noairdrops">No airdrop yet</strong></p>
                  <p data-id="verify_speedup_1_airdrop" v-if="speedup">Waiting too long?
                    <br>
                    <a href="/project.html#contacts">Contact us</a>
                  </p>
                </div>
              </div>
            </div>

            <!-- if airdropped -->
            <div class="formresult" id="verify-airdrops-box" v-if="show" v-cloak="">
              <div class="formresult-cols">
                <div>
                  <p data-id="verify_result_airdropped">The linked Ethereum address received a total of</p>
                  <p class="bigdata">{{ total_airdropped_amount }} TZL</p>
                </div>
                <div>
                  <p data-id="verify_result_miningfees">Ethereum mining fees</p>
                  <p class="bigdata">{{ total_fee }} TZL</p>
                </div>
                <div>
                  <p data-id="verify_result_airdrops">Airdrops</p>
                  <p class="bigdata">{{ n_airdrops }}</p>
                </div>
              </div>
              <!--
    <div class="verify-airdrop-details verify-airdrop-lost">
      <p><svg class="alert-icon"><use xlink:href="/images/svgdefs.svg#icon-alert"/></svg> 1st airdrop lost</p>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Porro, suscipit.</p>
    </div>
-->
              <div class="verify-airdrop-details" v-for="airdrop in augment(confirmed(rounds))">
                <p class="timestamp">{{ airdrop.timestamp }}</p>
                <div class="formresult-cols">
                  <div>
                    <p>amount: {{ airdrop.amount }} TZL</p>
                  </div>
                  <div>
                    <p>tx fee: {{ airdrop.tx_fee }} TZL (~{{ airdrop.tx_fee_eth }} ETH)</p>
                  </div>
                  <div>
                    <p>txid:
                      <a target="_blank" :href="airdrop.etherscan_link">{{ airdrop.txid }}</a>
                    </p>
                  </div>
                </div>
              </div>
              <!--
    <div class="verify-airdrop-details verify-airdrop-future">
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nulla, debitis.</p>
      <a class="btn btn-primary">Claim your next airdrop</a>
    </div>
    <div class="verify-airdrop-details verify-airdrop-future">
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nulla, debitis.</p>
      <a class="btn btn-primary btn-selected">Next airdrop claimed</a>
    </div>
-->
            </div>
          </div>


          <!-- next steps -->
          <a name="next-steps"></a>
          <div class="nextstepbox" id="next-steps" v-if="show" v-observe-visibility="visibility_changed" v-cloak="">

            <h3 data-id="nextstep_title">Next steps</h3>
            <a href="#next-steps" class="ns-btn-float" data-id="nextstep_title" v-if="show_floating_btn">Next steps</a>

            <!-- if only whitelisted -->
            <div v-if="!claimed">
              <a v-bind:href="claim_url" class="btn">
                <span data-id="split_page_title">Claim your TZL tokens</span>
              </a>

            </div>

            <!-- if claimed (and signed) -->
            <div v-if="claimed &amp;&amp; !has_delegated &amp;&amp; !opt2">
              <div class="nextstepslist">

                <div>
                  <p data-id="nextstep_getairdrops">Learn how to get your airdrops</p>
                  <p v-if="opt1">
                    <a href="https://t.me/joinchat/G9-DflMeFgwZSwDI5V-Vew" target="_blank" class="btn">
                      <svg class="icon">
                        <use href="/images/svgdefs.svg#icon-social-telegram-group" />
                      </svg><span data-id="nextstep_group">TzLibre Airdrops</span></a>
                  </p>
                  <p v-if="opt3">
                    <a href="https://t.me/joinchat/G9-DflDz6IzH2_Yy6f9NHg" target="_blank" class="btn">
                      <svg class="icon">
                        <use href="/images/svgdefs.svg#icon-social-telegram-group" />
                      </svg><span data-id="nextstep_group">TzLibre Airdrops</span></a>
                  </p>
                </div>

                <div>
                  <p data-id="nextstep_signclaim">Delegate TzLibre</p>
                  <a v-bind:href="delegate_url" class="btn"><span data-id="nextstep_claim_ok">Delegate</span></a>
                </div>

              </div>

            </div>

            <!-- if has delegated -->
            <div v-if="has_delegated &amp;&amp; !opt2">
              <div class="nextstepslist">

                <div>
                  <p data-id="sign_nextstep">Track TZL airdrops and meet other TZL traders</p>
                  <p v-if="opt1">
                    <a href="https://t.me/joinchat/G9-DfhMKURr6J7VhUYZ6Tw" target="_blank" class="btn">
                      <svg class="icon">
                        <use href="/images/svgdefs.svg#icon-social-telegram-group" />
                      </svg><span data-id="nextstep_sign">Trade TZL</span></a>
                  </p>
                  <p v-if="opt3">
                    <a href="https://t.me/joinchat/G9-DflDz6IzH2_Yy6f9NHg" target="_blank" class="btn">
                      <svg class="icon">
                        <use href="/images/svgdefs.svg#icon-social-telegram-group" />
                      </svg><span data-id="nextstep_sign">Trade TZL</span></a>
                  </p>
                </div>

              </div>
            </div>

          </div>

        </div>

      </div>

    </div>

    <div class="actionbar">

      <div class="content">

        <div class="actionbar-main">

          <span data-id="cta_button_actionbar"><a href="https://t.me/tzlibre" target="_blank" class="btn btn-primary"><svg class="icon"><use href="/images/svgdefs.svg#icon-social-telegram-channel"/></svg><span>Join us on Telegram</span></a>
          </span>

          <span><a href="https://www.reddit.com/user/tzlibre" target="_blank" class="btn btn-primary"><svg class="icon"><use href="/images/svgdefs.svg#icon-social-reddit-small"/></svg><span data-id="follow_reddit">Follow us on Reddit</span></a>
          </span>

        </div>

        <div class="actionbar-contacts">

          <a href="https://t.me/tz_libre" target="_blank" class="iconbtn">
            <svg class="icon">
              <use href="/images/svgdefs.svg#icon-social-telegram-small" />
            </svg>
          </a>
          <a href="https://twitter.com/tzlibre" target="_blank" class="iconbtn">
            <svg class="icon">
              <use href="/images/svgdefs.svg#icon-social-twitter-small" />
            </svg>
          </a>
          <a href="mailto:tzlibr%65@pro%74on%6Dail.c%6Fm" class="iconbtn">
            <svg class="icon">
              <use href="/images/svgdefs.svg#icon-social-email-small" />
            </svg>
          </a>
          <a href="/publickey.tzlibre@protonmail.com.asc">pgp key</a>

        </div>

      </div>

    </div>

    <!-- Templates for modals-->
    <div class="cloak" id="modal-cloak">

      <div class="modal" id="modal-not-whitelisted">
        <h4><span data-id="modal_notwhitelisted_title">Notice</span>
          <svg class="alert-icon">
            <use href="/images/svgdefs.svg#icon-alert" />
          </svg>
        </h4>
        <p data-id="modal_notwhitelisted_text">Tezos address not whitelisted. In order to claim TZL you must whitelist your Tezos address first.</p>
        <div class="modal-actions">
          <a class="btn modal-action-cancel" data-id="btn_cancel">Cancel</a>
          <a class="btn btn-primary" v-bind:href="whitelist_url" data-id="btn_whitelistit">Whitelist</a>
        </div>
      </div>

      <div class="modal" id="modal-zero-owner">
        <h4><span data-id="modal_zeroowner_title">Notice</span>
          <svg class="alert-icon">
            <use href="/images/svgdefs.svg#icon-alert" />
          </svg>
        </h4>
        <p data-id="modal_zeroowner_text">Your Tezos address is empty. If you&apos;re a sub-threshold contributor you can still claim TZL.
          <a href="https://t.me/tz_libre" target="_blank">Contact us</a>.</p>
        <div class="modal-actions">
          <a class="btn modal-action-cancel" data-id="btn_close">Close</a>
        </div>
      </div>

      <div class="modal modal-warning" id="modal-error-tzl-addr">
        <h4><span data-id="modal_error_title">Error</span>
          <svg class="alert-icon">
            <use href="/images/svgdefs.svg#icon-alert" />
          </svg>
        </h4>
        <p data-id="modal_tzladdress_text">Wrong Tezos address (public key hash)</p>
        <div class="modal-actions">
          <a class="btn modal-action-cancel" data-id="btn_close">Close</a>
        </div>
      </div>

      <div class="modal modal-warning" id="modal-error-generic">
        <h4><span data-id="modal_genericerror_title">Something went wrong</span>
          <svg class="alert-icon">
            <use href="/images/svgdefs.svg#icon-alert" />
          </svg>
        </h4>
        <p data-id="modal_genericerror_text">Try again or
          <a href="https://t.me/tz_libre" target="_blank">contact us</a>.</p>
        <div class="modal-actions">
          <a class="btn modal-action-cancel" data-id="btn_close">Close</a>
        </div>
      </div>


    </div>

    <script src="/js/vue.min.js"></script>
    <!-- <script src="/js/vue.js"></script> -->
    <script src="/js/vue-observe-visibility.min.js"></script>
    <script src="/js/moment-with-locales.js"></script>
    <script src="/js/modals.js"></script>
    <script src="/js/utils.js"></script>
    <script src="/js/scripts.js"></script>
    <script src="/js/scripts-verify.js"></script>






  </body>

</html>