<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" prefix="og: http://ogp.me/ns#">

  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no, minimal-ui">
    <title data-id="default_page_title">Tz Libre | &#x440;&#x430;&#x437;&#x434;&#x435;&#x43B;&#x435;&#x43D;&#x438;&#x435; DLS Tezos</title>
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    <link rel="manifest" href="/site.webmanifest">
    <meta name="msapplication-TileColor" content="#1F260B">
    <meta name="theme-color" content="#1F260B">
    <link href="/style/style.css" rel="stylesheet">
    <meta itemprop="image" content="https://tzlibre.github.io/tzl-shareimage.png">
    <meta property="og:image" content="https://tzlibre.github.io/tzl-shareimage.png">
    <meta property="og:title" data-id="default_page_title" content="Tz Libre | &#x440;&#x430;&#x437;&#x434;&#x435;&#x43B;&#x435;&#x43D;&#x438;&#x435; DLS Tezos">
  </head>

  <body>

    <div class="langswitch">
      <ul class="content">
        <li>
          <button data-lang="en">english</button>
        </li>
        <li>
          <button data-lang="ru">&#x440;&#x443;&#x441;&#x441;&#x43A;&#x438;&#x439;</button>
        </li>
        <li>
          <button data-lang="cn">&#x4E2D;&#x6587;</button>
        </li>
        <li class="priceticker">
          <a href="https://forkdelta.github.io/#!/trade/0x6b91bc206eed0a8474f071339d1fd7ed7156f856-ETH" target="_blank">
            <span class="priceticker-block"><span class="priceticker-lbl">1 TZL =</span><span class="priceticker-value" id="priceTickerValue">0 USD</span></span>
            <span class="priceticker-block hideOnMobile"><span class="priceticker-lbl">market cap</span><span class="priceticker-value" id="marketCapValue">N/A</span></span>
            <span class="priceticker-block"><span class="priceticker-arrow">&gt;</span></span>
          </a>
        </li>
      </ul>
    </div>


    <header class="header-mini">
      <div class="content">
        <div class="header-main">
          <div class="wordmark">
            <a href="index.html">
              <img src="/images/tzllogo-wordmark.svg" alt="tzlibre wordmark">
            </a>
          </div>
        </div>
        <a href="index.html" class="logo">
          <img src="/images/tzllogo-base.svg" alt="tzlibre logo">
        </a>
      </div>
    </header>

    <nav class="nav-primary">
      <ul class="content">
        <li class="{{ nav1_class }}">
          <a href="project.html" data-id="home_title">&#x43E; &#x43F;&#x440;&#x43E;&#x435;&#x43A;&#x442;&#x435;</a>
        </li>
        <li class="{{ nav2_class }}">
          <a href="faq.html" data-id="faq_title">&#x412;&#x43E;&#x43F;&#x440;&#x43E;&#x441; - &#x43E;&#x442;&#x432;&#x435;&#x442;</a>
        </li>
        <li class="{{ nav3_class }}">
          <a href="whitelist.html" data-id="wl_title">1. &#x411;&#x435;&#x43B;&#x44B;&#x439; &#x441;&#x43F;&#x438;&#x441;&#x43E;&#x43A;</a>
        </li>
        <li class="selected">
          <a href="claim.html" data-id="split_title">2. Claim</a>
        </li>
        <li class="{{ nav5_class }}">
          <a href="sign.html" data-id="sign_title">3. Sign</a>
        </li>
        <li class="{{ nav6_class }}">
          <a href="verify.html" data-id="verify_title">Verify</a>
        </li>
      </ul>
    </nav>


    <div class="main">

      <div class="content">

        <div class="block">

          <h3 data-id="split_page_title">Claim your TZL tokens</h3>

          <div class="row">
            <h4 data-id="split_sub1_title">Who</h4>
            <div class="row-main" data-id="split_sub1_txt">
              <p>Contributors who already
                <a href="whitelist.html">whitelisted their Tezos address</a> can claim TZL by linking it with an Ethereum address under their own control.</p>
            </div>
          </div>

          <div class="row">
            <h4 data-id="split_sub2_title">When</h4>
            <div class="row-main" data-id="split_sub2_txt">
              <p>The whitelist is currently open. Our community is still discussing whether to close the whitelist in the coming days (to reward early adopters), or to close it later (to accomodate late adopters). We&apos;ll announce on our
                <a href="https://t.me/tzlibre"
                  target="_blank">Telegram channel</a> when the whitelist has been closed.</p>
            </div>
          </div>

          <div class="row">
            <h4 data-id="split_sub3_title">Need help?</h4>
            <div class="row-main" data-id="split_sub3_txt">
              <p>If you&apos;re having trouble adding your Tezos public key hash (a/k/a Tezos address) to the whitelist, please doublecheck your contribution PDF and try again. Please use the latest version of the Firefox browser, preferably in private mode.
                If you still can&apos;t whitelist your address, you can
                <a href="https://t.me/tz_libre" target="_blank">contact us</a>.</p>
            </div>
          </div>

          <form action="Javascript:claim()" class="" id="claim-form">

            <label for="claim-pkh" data-id="wl_intro">&#x412;&#x432;&#x435;&#x434;&#x438;&#x442;&#x435; &#x441;&#x432;&#x43E;&#x439; &#x43F;&#x443;&#x431;&#x43B;&#x438;&#x447;&#x43D;&#x44B;&#x439; &#x430;&#x434;&#x440;&#x435;&#x441; Tezos (= Tezos address)</label>
            <input type="text" placeholder="tz1..." id="claim-pkh" required>
            <label for="claim-eth-addr" data-id="eth_address">Ethereum address</label>
            <input type="text" placeholder="0x..." id="claim-eth-addr" required>
            <label data-id="split_declaration_title">Declaration of support</label>
            <pre data-id="split_declaration">As a contributor to Tezos Stiftung (CHE-290.597.458) I recognize, welcome and support the existence of multiple implementations of the Tezos idea.

I expect Tezos Stiftung to act in the best interest of contributors by fostering competition among these implementations, and to do so by directly funding research and development of interoperability solutions that enable the seamless transfer of value and data among various Tezos blockchains.

I request that any third-party product developed with Tezos Stiftung funding shall always be compatible with each and every major Tezos blockchain.</pre>

            <input type="checkbox" id="claim-accept-declaration" checked>
            <label for="claim-accept-declaration" data-id="split_declaration_accept">I agree with the Declaration of support (optional)</label>

            <div class="formaction">
              <input type="submit" id="claim-submit" data-id="split_button" v-bind:class="{ loading: loading }" :disabled="loading" value="Claim">
            </div>

          </form>

          <div id="results">
            <div id="claim-success" v-if="success">
              <div class="formresult">
                <p class="timestamp">{{ timestamp }}</p>
                <p data-id="split_result_success">Your claim has been submitted!</p>
                <div class="block-row">
                  <div class="block">
                    <p><strong>{{ tzl_pkh }}</strong>
                      <br><span data-id="split_result_nowlinked">is now linked with this Ethereum address:</span>
                      <br><strong>{{ eth_addr }}</strong></p>
                  </div>
                </div>
              </div>
            </div>
          </div>


          <!-- next steps -->
          <div class="nextstepbox" id="next-steps" v-if="show &amp;&amp; !opt2">
            <h3 data-id="nextstep_title">Next steps</h3>
            <div class="nextstepslist">

              <div>
                <p>Learn how to get your airdrops</p>
                <p v-if="opt1">
                  <a href="https://t.me/joinchat/G9-DflMeFgwZSwDI5V-Vew" target="_blank" class="btn">
                    <svg class="icon">
                      <use href="/images/svgdefs.svg#icon-social-telegram-group" />
                    </svg><span data-id="nextstep_group">Get airdrop details</span></a>
                </p>
                <p v-if="opt3">
                  <a href="https://t.me/tz_libre" target="_blank" class="btn">
                    <svg class="icon">
                      <use href="/images/svgdefs.svg#icon-social-telegram-small" />
                    </svg><span data-id="nextstep_contact">Get airdrop details</span></a>
                </p>
              </div>

              <div>
                <p>Sign your claim</p>
                <a v-bind:href="sign_url" class="btn"><span data-id="nextstep_claim_ok">Sign your TZL claim</span></a>
              </div>

            </div>
          </div>

        </div>

      </div>

    </div>

    <div class="actionbar">
      <div class="content">
        <span data-id="cta_button_actionbar"><a href="https://t.me/tzlibre" target="_blank" class="btn btn-primary"><svg class="icon"><use href="/images/svgdefs.svg#icon-social-telegram-channel"/></svg><span>&#x41F;&#x440;&#x438;&#x441;&#x43E;&#x435;&#x434;&#x438;&#x43D;&#x44F;&#x439;&#x442;&#x435;&#x441;&#x44C; &#x43A; &#x43D;&#x430;&#x43C; &#x43D;&#x430; Telegram</span></a>
        </span>
        <p data-id="actionbar_text">to stay updated</p>
      </div>
    </div>

    <!-- Templates for modals-->
    <div class="cloak" id="modal-cloak">

      <div class="modal" id="modal-step-not-allowed">
        <h4><span data-id="modal-step-not-allowed_title">Sorry, you can&apos;t do this now</span>
          <svg class="alert-icon">
            <use href="/images/svgdefs.svg#icon-alert" />
          </svg>
        </h4>
        <p data-id="modal_stepnotallowed_text">You are not allowed to do this now: go to Verify page to find out what to do next</p>
        <div class="modal-actions">
          <a class="btn btn-primary" v-bind:href="verify_url" data-id="btn_verifyit">Verify it</a>
        </div>
      </div>

      <div class="modal modal-warning" id="modal-error-tzl-addr">
        <h4><span data-id="modal_error_title">Error</span>
          <svg class="alert-icon">
            <use href="/images/svgdefs.svg#icon-alert" />
          </svg>
        </h4>
        <p data-id="modal_tzladdress_text">Wrong Tezos address (public key hash)</p>
        <div class="modal-actions">
          <a class="btn modal-action-cancel" data-id="btn_close">Close</a>
        </div>
      </div>

      <div class="modal modal-warning" id="modal-error-eth-addr">
        <h4><span data-id="modal_error_title">Error</span>
          <svg class="alert-icon">
            <use href="/images/svgdefs.svg#icon-alert" />
          </svg>
        </h4>
        <p data-id="modal_ethaddress_text">Wrong Ethereum address</p>
        <div class="modal-actions">
          <a class="btn modal-action-cancel" data-id="btn_close">Close</a>
        </div>
      </div>

      <div class="modal modal-warning" id="modal-error-generic">
        <h4><span data-id="modal_genericerror_title">Something went wrong</span>
          <svg class="alert-icon">
            <use href="/images/svgdefs.svg#icon-alert" />
          </svg>
        </h4>
        <p data-id="modal_genericerror_text">Try again or
          <a href="https://t.me/tz_libre" target="_blank">contact us</a>.</p>
        <div class="modal-actions">
          <a class="btn modal-action-cancel" data-id="btn_close">Close</a>
        </div>
      </div>


    </div>

    <script src="/js/vue.min.js"></script>
    <!-- <script src="/js/vue.js"></script> -->
    <script src="/js/moment-with-locales.js"></script>
    <script src="/js/modals.js"></script>
    <script src="/js/utils.js"></script>
    <script src="/js/scripts.js"></script>
    <script src="/js/scripts-claim.js"></script>






  </body>

</html>