<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" prefix="og: http://ogp.me/ns#">

  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no, minimal-ui">
    <title data-id="default_page_title">Tz Libre | &#x440;&#x430;&#x437;&#x434;&#x435;&#x43B;&#x435;&#x43D;&#x438;&#x435; DLS Tezos</title>
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    <link rel="manifest" href="/site.webmanifest">
    <meta name="msapplication-TileColor" content="#1F260B">
    <meta name="theme-color" content="#1F260B">
    <link href="/style/style.css" rel="stylesheet">
    <meta itemprop="image" content="https://tzlibre.github.io/tzl-shareimage.png">
    <meta property="og:image" content="https://tzlibre.github.io/tzl-shareimage.png">
    <meta property="og:title" data-id="default_page_title" content="Tz Libre | &#x440;&#x430;&#x437;&#x434;&#x435;&#x43B;&#x435;&#x43D;&#x438;&#x435; DLS Tezos">
  </head>

  <body>

    <div class="langswitch">
      <ul class="content">
        <li>
          <button data-lang="en">english</button>
        </li>
        <li>
          <button data-lang="ru">&#x440;&#x443;&#x441;&#x441;&#x43A;&#x438;&#x439;</button>
        </li>
        <li>
          <button data-lang="cn">&#x4E2D;&#x6587;</button>
        </li>
        <li class="priceticker">
          <a href="https://forkdelta.github.io/#!/trade/0x6b91bc206eed0a8474f071339d1fd7ed7156f856-ETH" target="_blank">
            <span class="priceticker-block"><span class="priceticker-lbl">1 TZL =</span><span class="priceticker-value" id="priceTickerValue">0 USD</span></span>
            <span class="priceticker-block hideOnMobile"><span class="priceticker-lbl">market cap</span><span class="priceticker-value" id="marketCapValue">N/A</span></span>
            <span class="priceticker-block"><span class="priceticker-arrow">&gt;</span></span>
          </a>
        </li>
      </ul>
    </div>


    <header class="header-mini">
      <div class="content">
        <div class="header-main">
          <div class="wordmark">
            <a href="index.html">
              <img src="/images/tzllogo-wordmark.svg" alt="tzlibre wordmark">
            </a>
          </div>
        </div>
        <a href="index.html" class="logo">
          <img src="/images/tzllogo-base.svg" alt="tzlibre logo">
        </a>
      </div>
    </header>

    <nav class="nav-primary">
      <ul class="content">
        <li class="{{ nav1_class }}">
          <a href="project.html" data-id="home_title">&#x43E; &#x43F;&#x440;&#x43E;&#x435;&#x43A;&#x442;&#x435;</a>
        </li>
        <li class="{{ nav2_class }}">
          <a href="faq.html" data-id="faq_title">&#x412;&#x43E;&#x43F;&#x440;&#x43E;&#x441; - &#x43E;&#x442;&#x432;&#x435;&#x442;</a>
        </li>
        <li class="selected">
          <a href="whitelist.html" data-id="wl_title">&#x411;&#x435;&#x43B;&#x44B;&#x439; &#x441;&#x43F;&#x438;&#x441;&#x43E;&#x43A;</a>
        </li>
        <li class="{{ nav4_class }}">
          <a href="claim.html" data-id="split_title">2. Claim</a>
        </li>
        <li class="{{ nav5_class }}">
          <a href="sign.html" data-id="sign_title">3. Sign</a>
        </li>
        <li class="{{ nav6_class }}">
          <a href="verify.html" data-id="verify_title">Verify</a>
        </li>
      </ul>
    </nav>


    <div class="main">

      <div class="content">

        <div class="block">

          <h3 data-id="wl_page_title_complete">&#x411;&#x435;&#x43B;&#x44B;&#x439; &#x441;&#x43F;&#x438;&#x441;&#x43E;&#x43A; &#x438;&#x43B;&#x438; &#x43F;&#x43E;&#x434;&#x442;&#x432;&#x435;&#x440;&#x434;&#x438;&#x442;&#x44C; &#x430;&#x434;&#x440;&#x435;&#x441; Tezos</h3>

          <div class="row">
            <h4 data-id="wl_sub1_title">&#x41A;&#x442;&#x43E;</h4>
            <div class="row-main" data-id="wl_sub1_txt">
              <p> &#x41B;&#x44E;&#x431;&#x43E;&#x439; &#x443;&#x447;&#x430;&#x441;&#x442;&#x43D;&#x438;&#x43A; Tezos ICO &#x43C;&#x43E;&#x436;&#x435;&#x442; &#x443;&#x447;&#x430;&#x441;&#x442;&#x432;&#x43E;&#x432;&#x430;&#x442;&#x44C;.
                <!-- p-->
              </p>
            </div>
          </div>

          <div class="row">
            <h4 data-id="wl_sub2_title">&#x41A;&#x43E;&#x433;&#x434;&#x430;</h4>
            <div class="row-main" data-id="wl_sub2_txt">
              <p> &#x412; &#x43D;&#x430;&#x441;&#x442;&#x43E;&#x44F;&#x449;&#x438;&#x439; &#x43C;&#x43E;&#x43C;&#x435;&#x43D;&#x442; &#x43E;&#x442;&#x43A;&#x440;&#x44B;&#x442; &#x431;&#x435;&#x43B;&#x44B;&#x439; &#x441;&#x43F;&#x438;&#x441;&#x43E;&#x43A;.
                &#x41D;&#x430;&#x448;&#x435; &#x441;&#x43E;&#x43E;&#x431;&#x449;&#x435;&#x441;&#x442;&#x432;&#x43E; &#x432;&#x441;&#x435; &#x435;&#x449;&#x435; &#x43E;&#x431;&#x441;&#x443;&#x436;&#x434;&#x430;&#x435;&#x442;, &#x441;&#x43B;&#x435;&#x434;&#x443;&#x435;&#x442;
                &#x43B;&#x438; &#x437;&#x430;&#x43A;&#x440;&#x44B;&#x442;&#x44C; &#x431;&#x435;&#x43B;&#x44B;&#x439; &#x441;&#x43F;&#x438;&#x441;&#x43E;&#x43A; &#x432; &#x431;&#x43B;&#x438;&#x436;&#x430;&#x439;&#x448;&#x438;&#x435; &#x434;&#x43D;&#x438;
                (&#x447;&#x442;&#x43E;&#x431;&#x44B; &#x432;&#x43E;&#x437;&#x43D;&#x430;&#x433;&#x440;&#x430;&#x434;&#x438;&#x442;&#x44C; &#x440;&#x430;&#x43D;&#x43D;&#x438;&#x445; &#x443;&#x441;&#x44B;&#x43D;&#x43E;&#x432;&#x438;&#x442;&#x435;&#x43B;&#x435;&#x439;)
                &#x438;&#x43B;&#x438; &#x437;&#x430;&#x43A;&#x440;&#x44B;&#x442;&#x44C; &#x435;&#x433;&#x43E; &#x43F;&#x43E;&#x437;&#x436;&#x435; (&#x434;&#x43B;&#x44F; &#x440;&#x430;&#x437;&#x43C;&#x435;&#x449;&#x435;&#x43D;&#x438;&#x44F; &#x43F;&#x43E;&#x437;&#x434;&#x43D;&#x438;&#x435;
                &#x443;&#x441;&#x44B;&#x43D;&#x43E;&#x432;&#x438;&#x442;&#x435;&#x43B;&#x438;). &#x41C;&#x44B; &#x43E;&#x431;&#x44A;&#x44F;&#x432;&#x438;&#x43C; &#x43E; &#x43D;&#x430;&#x448;&#x435;&#x43C; &#x440;&#x435;&#x448;&#x435;&#x43D;&#x438;&#x438;
                &#x432;
                <a href="https://t.me/tzlibre" target="_blank"> &#x43A;&#x430;&#x43D;&#x430;&#x43B;&#x435; &#x442;&#x435;&#x43B;&#x435;&#x433;&#x440;&#x430;&#x43C;&#x43C;&#x44B; </a>, &#x43A;&#x43E;&#x433;&#x434;&#x430; &#x431;&#x435;&#x43B;&#x44B;&#x439; &#x441;&#x43F;&#x438;&#x441;&#x43E;&#x43A;
                &#x431;&#x443;&#x434;&#x435;&#x442; &#x437;&#x430;&#x43A;&#x440;&#x44B;&#x442;.
                <!-- р-->
              </p>
            </div>
          </div>

          <div class="row">
            <h4 data-id="wl_sub3_title">&#x41D;&#x443;&#x436;&#x43D;&#x430; &#x43F;&#x43E;&#x43C;&#x43E;&#x449;&#x44C;?</h4>
            <div class="row-main" data-id="wl_sub3_txt">
              <p> &#x415;&#x441;&#x43B;&#x438; &#x443; &#x432;&#x430;&#x441; &#x432;&#x43E;&#x437;&#x43D;&#x438;&#x43A;&#x43B;&#x438; &#x43F;&#x440;&#x43E;&#x431;&#x43B;&#x435;&#x43C;&#x44B; &#x441; &#x434;&#x43E;&#x431;&#x430;&#x432;&#x43B;&#x435;&#x43D;&#x438;&#x435;&#x43C;
                &#x445;&#x435;&#x448;&#x430; &#x43E;&#x442;&#x43A;&#x440;&#x44B;&#x442;&#x43E;&#x433;&#x43E; &#x43A;&#x43B;&#x44E;&#x447;&#x430; Tezos (a / k / a Tezos address) &#x432; &#x431;&#x435;&#x43B;&#x44B;&#x439; &#x441;&#x43F;&#x438;&#x441;&#x43E;&#x43A;,
                &#x43F;&#x43E;&#x436;&#x430;&#x43B;&#x443;&#x439;&#x441;&#x442;&#x430;, &#x434;&#x432;&#x430;&#x436;&#x434;&#x44B; &#x43F;&#x440;&#x43E;&#x432;&#x435;&#x440;&#x44C;&#x442;&#x435; &#x441;&#x432;&#x43E;&#x439; &#x432;&#x43A;&#x43B;&#x430;&#x434;
                PDF &#x438; &#x43F;&#x43E;&#x432;&#x442;&#x43E;&#x440;&#x438;&#x442;&#x435; &#x43F;&#x43E;&#x43F;&#x44B;&#x442;&#x43A;&#x443;. &#x418;&#x441;&#x43F;&#x43E;&#x43B;&#x44C;&#x437;&#x443;&#x439;&#x442;&#x435; &#x43F;&#x43E;&#x441;&#x43B;&#x435;&#x434;&#x43D;&#x44E;&#x44E;
                &#x432;&#x435;&#x440;&#x441;&#x438;&#x44E; &#x431;&#x440;&#x430;&#x443;&#x437;&#x435;&#x440;&#x430; Firefox, &#x43F;&#x440;&#x435;&#x434;&#x43F;&#x43E;&#x447;&#x442;&#x438;&#x442;&#x435;&#x43B;&#x44C;&#x43D;&#x43E; &#x432; &#x447;&#x430;&#x441;&#x442;&#x43D;&#x43E;&#x43C;
                &#x440;&#x435;&#x436;&#x438;&#x43C;&#x435;. &#x415;&#x441;&#x43B;&#x438; &#x432;&#x44B; &#x43F;&#x43E;-&#x43F;&#x440;&#x435;&#x436;&#x43D;&#x435;&#x43C;&#x443; &#x43D;&#x435; &#x43C;&#x43E;&#x436;&#x435;&#x442;&#x435; &#x43F;&#x435;&#x440;&#x435;&#x430;&#x434;&#x440;&#x435;&#x441;&#x43E;&#x432;&#x44B;&#x432;&#x430;&#x442;&#x44C;
                &#x441;&#x432;&#x43E;&#x439; &#x430;&#x434;&#x440;&#x435;&#x441;, &#x432;&#x44B; &#x43C;&#x43E;&#x436;&#x435;&#x442;&#x435;
                <a href="https: //t.me/tz_libre" target="_ blank "> &#x441;&#x432;&#x44F;&#x437;&#x430;&#x442;&#x44C;&#x441;&#x44F; &#x441; &#x43D;&#x430;&#x43C;&#x438; </a>. &#x412;&#x43E;&#x442; &#x43A;&#x430;&#x43A; &#x432;&#x44B;&#x433;&#x43B;&#x44F;&#x434;&#x438;&#x442; &#x445;&#x44D;&#x448;-&#x43A;&#x43E;&#x434;
                &#x43E;&#x442;&#x43A;&#x440;&#x44B;&#x442;&#x43E;&#x433;&#x43E; &#x43A;&#x43B;&#x44E;&#x447;&#x430; Tezos: <span class="inline-code "> tz1QwKhhwkG7wpCHkrhEvUop <!-- span-->. <!-- p--> </span></p>
            </div>
          </div>

          <label for="tzaddress-whitelist" data-id="wl_intro">&#x412;&#x432;&#x435;&#x434;&#x438;&#x442;&#x435; &#x441;&#x432;&#x43E;&#x439; &#x441;&#x435;&#x43A;&#x440;&#x435;&#x442;&#x43D;&#x44B;&#x439; &#x43A;&#x43B;&#x44E;&#x447; Tezos (a / k / a Tezos address)</label>
          <form action="Javascript:whitelist()" class="singlerowform" id="whitelist-form">
            <input type="text" placeholder="tz1..." id="whitelist-pkh" required>
            <input type="submit" value="&#x414;&#x43E;&#x431;&#x430;&#x432;&#x438;&#x442;&#x44C; &#x432; &#x431;&#x435;&#x43B;&#x44B;&#x439; &#x441;&#x43F;&#x438;&#x441;&#x43E;&#x43A; &#x438;&#x43B;&#x438; &#x43F;&#x43E;&#x434;&#x442;&#x432;&#x435;&#x440;&#x434;&#x438;&#x442;&#x44C;"
              id="submitWhitelistBtn" data-id="wl_button" v-bind:class="{ loading: loading }" :disabled="loading">
          </form>

          <div id="results">
            <div id="whitelist-success" class="formresult" v-if="success">
              <p class="timestamp">{{ timestamp }}</p>
              <div class="formresult-cols">
                <div>
                  <p data-id="wl_success_text">This Tezos address is correctly whitelisted</p>
                  <p><strong>{{ pkh }}</strong></p>
                </div>
                <div>
                  <p data-id="wl_success_text2">You are allowed to claim</p>
                  <p class="bigdata">{{ amount }} TZL</p>
                </div>
              </div>
            </div>
          </div>


          <!-- next steps -->
          <div class="nextstepbox" id="next-steps" v-if="show">
            <h3 data-id="nextstep_title">Next steps</h3>
            <a v-bind:href="claim_url" class="btn">
              <span data-id="split_page_title">Claim your TZL tokens</span>
            </a>

          </div>

        </div>

      </div>

    </div>

    <div class="actionbar">
      <div class="content">
        <span data-id="cta_button_actionbar"><a href="https://t.me/tzlibre" target="_blank" class="btn btn-primary"><svg class="icon"><use href="/images/svgdefs.svg#icon-social-telegram-small"/></svg><span>&#x41F;&#x440;&#x438;&#x441;&#x43E;&#x435;&#x434;&#x438;&#x43D;&#x44F;&#x439;&#x442;&#x435;&#x441;&#x44C; &#x43A; &#x43D;&#x430;&#x43C; &#x43D;&#x430; Telegram</span></a>
        </span>
        <p data-id="actionbar_text">&#x447;&#x442;&#x43E;&#x431;&#x44B; &#x43F;&#x43E;&#x43B;&#x443;&#x447;&#x438;&#x442;&#x44C; &#x43E;&#x431;&#x43D;&#x43E;&#x432;&#x43B;&#x435;&#x43D;&#x43D;&#x43E;&#x435; &#x440;&#x430;&#x437;&#x434;&#x435;&#x43B;&#x435;&#x43D;&#x438;&#x435;</p>
      </div>
    </div>

    <!-- Templates for modals-->
    <div class="cloak" id="modal-cloak">

      <div class="modal modal-warning" id="modal-error-tzl-addr">
        <h4><span data-id="modal_error_title">Error</span>
          <svg class="alert-icon">
            <use href="/images/svgdefs.svg#icon-alert" />
          </svg>
        </h4>
        <p data-id="modal_tzladdress_text">Wrong Tezos address (public key hash)</p>
        <div class="modal-actions">
          <a class="btn modal-action-cancel" data-id="btn_close">Close</a>
        </div>
      </div>

      <div class="modal modal-warning" id="modal-error-whitelist">
        <h4><span data-id="wl_error_title">Error</span>
          <svg class="alert-icon">
            <use href="/images/svgdefs.svg#icon-alert" />
          </svg>
        </h4>
        <p data-id="wl_error_txt">
          <p> &#x41C;&#x44B; &#x43D;&#x435; &#x441;&#x43C;&#x43E;&#x433;&#x43B;&#x438; &#x434;&#x43E;&#x431;&#x430;&#x432;&#x438;&#x442;&#x44C; &#x44D;&#x442;&#x43E;&#x442; &#x430;&#x434;&#x440;&#x435;&#x441; &#x432; &#x431;&#x435;&#x43B;&#x44B;&#x439; &#x441;&#x43F;&#x438;&#x441;&#x43E;&#x43A;.
            &#x41F;&#x43E;&#x436;&#x430;&#x43B;&#x443;&#x439;&#x441;&#x442;&#x430;, &#x434;&#x432;&#x430;&#x436;&#x434;&#x44B; &#x43E;&#x442;&#x43C;&#x435;&#x442;&#x44C;&#x442;&#x435; &#x441;&#x432;&#x43E;&#x439; &#x432;&#x43A;&#x43B;&#x430;&#x434; PDF
            &#x438; &#x43F;&#x43E;&#x432;&#x442;&#x43E;&#x440;&#x438;&#x442;&#x435; &#x43F;&#x43E;&#x43F;&#x44B;&#x442;&#x43A;&#x443;. &#x418;&#x441;&#x43F;&#x43E;&#x43B;&#x44C;&#x437;&#x443;&#x439;&#x442;&#x435; &#x43F;&#x43E;&#x441;&#x43B;&#x435;&#x434;&#x43D;&#x44E;&#x44E;
            &#x432;&#x435;&#x440;&#x441;&#x438;&#x44E; &#x431;&#x440;&#x430;&#x443;&#x437;&#x435;&#x440;&#x430; Firefox, &#x43F;&#x440;&#x435;&#x434;&#x43F;&#x43E;&#x447;&#x442;&#x438;&#x442;&#x435;&#x43B;&#x44C;&#x43D;&#x43E; &#x432; &#x43F;&#x440;&#x438;&#x432;&#x430;&#x442;&#x43D;&#x43E;&#x43C;
            &#x440;&#x435;&#x436;&#x438;&#x43C;&#x435;. &#x415;&#x441;&#x43B;&#x438; &#x432;&#x44B; &#x43F;&#x43E;-&#x43F;&#x440;&#x435;&#x436;&#x43D;&#x435;&#x43C;&#x443; &#x43D;&#x435; &#x43C;&#x43E;&#x436;&#x435;&#x442;&#x435; &#x43F;&#x435;&#x440;&#x435;&#x430;&#x434;&#x440;&#x435;&#x441;&#x43E;&#x432;&#x44B;&#x432;&#x430;&#x442;&#x44C;
            &#x441;&#x432;&#x43E;&#x439; &#x430;&#x434;&#x440;&#x435;&#x441;, &#x432;&#x44B; &#x43C;&#x43E;&#x436;&#x435;&#x442;&#x435;
            <a href="https://t.me/tz_libre" target="_blank"> &#x441;&#x432;&#x44F;&#x437;&#x430;&#x442;&#x44C;&#x441;&#x44F; &#x441; &#x43D;&#x430;&#x43C;&#x438; </a>. </p>
        </p>
        <div class="modal-actions">
          <a class="btn modal-action-cancel" data-id="btn_close">Close</a>
        </div>
      </div>

      <div class="modal" id="modal-step-not-allowed">
        <h4><span data-id="modal-step-not-allowed_title">Sorry, you can&apos;t do this now</span>
          <svg class="alert-icon">
            <use href="/images/svgdefs.svg#icon-alert" />
          </svg>
        </h4>
        <p data-id="modal_stepnotallowed_text">You are not allowed to do this now: go to Verify page to find out what to do next</p>
        <div class="modal-actions">
          <a class="btn btn-primary" v-bind:href="verify_url" data-id="btn_verifyit">Verify</a>
        </div>
      </div>

      <div class="modal modal-warning" id="modal-error-generic">
        <h4><span data-id="modal_genericerror_title">Something went wrong</span>
          <svg class="alert-icon">
            <use href="/images/svgdefs.svg#icon-alert" />
          </svg>
        </h4>
        <p data-id="modal_genericerror_text">Try again or
          <a href="https://t.me/tz_libre" target="_blank">contact us</a>.</p>
        <div class="modal-actions">
          <a class="btn modal-action-cancel" data-id="btn_close">Close</a>
        </div>
      </div>


    </div>

    <!-- <script src="/js/vue.min.js"></script> -->
    <script src="/js/vue.js"></script>
    <script src="/js/moment-with-locales.js"></script>
    <script src="/js/modals.js"></script>
    <script src="/js/utils.js"></script>
    <script src="/js/scripts.js"></script>
    <script src="/js/scripts-whitelist.js"></script>






  </body>

</html>